<!DOCTYPE html>
<html>
  <head>
    <title>FashioNXT</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
    <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
    <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
    <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
    <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
    <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
    
  </head>
  <body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
  

  <!-- THE LOADER -->

  <div class="be-loader">
      <div class="spinner">
      <img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
      <p class="circle">
        <span class="ouro">
          <span class="left"><span class="anim"></span></span>
          <span class="right"><span class="anim"></span></span>
        </span>
      </p>
    </div>
    </div>
  <!-- THE HEADER -->
  <header>
    <div class="container-fluid custom-container">
      <div class="row no_row row-header">
        <div class="brand-be">
          <a href="/">
            <img class="logo-c active be_logo"  src="<%= asset_path "logo.png"%>" alt="logo">
            <img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo2">
            <img  class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo3">
            <img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo4">
          </a>
        </div>
        
        <!--navbar options-->
        
        <div class="header-menu-block">
          <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
          <ul class="header-menu" id="one">
            <!--<li><a href="activity.html">Activity</a></li>-->
            <li><a href="/search_profile/search">Search</a>
            </li>
            <% if session[:current_user_key] %>
              <li><a href="/show_profile">My Profile</a></li>
            <% end %>
          </ul>
        </div>
        
        <!--login/logout buttons on the navbar-->
        
        <div class="login-header-block">
          <div class="login_block">
            <% if session[:current_user_key] %>
            <%= link_to 'Log out', logout_path, method: :get, :class => "btn color-1 size-2 hover-2" %>
            <% else %>
            <%= link_to 'Log in', login_path, method: :post, :class => "btn btn-login color-1 size-2 hover-2" %>
            <% end %>
          </div>  
        </div>
      </div>
    </div>
  </header>
  
  
  <!-- MAIN CONTENT -->
  <div id="content-block">
    <div class="container be-detail-container">
          <div class="col-xs-6 col-md-9 _editor-content_">
            
            <section id="specificForm" class="container content-section text-center">
  <div id="SPECIFICFORM">
    <h1>
      <b>Search for <%= @job_title %> Profile</b>
    </h1>
    <%= form_tag(search_profile_search_specific_path, :method=>'get') do %>
        <div class="form-group">
        <div class="row main">
          <div class="main-center">
            <label for="first_name" class="cols-sm-2 control-label">First Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <%= text_field_tag "first_name", nil, class: 'form-control', placeholder: "Enter the First Name"%>
                <%= select_tag "first_name_regex", options_for_select([['Contains', 'Contains'], ['Starts With', 'Starts With'], ['Ends With', 'Ends With'], ['Exactly Matches','Exactly Matches']]), :class => 'form-control' %>
                </p>
              </div>
            </div>

            <%= hidden_field_tag 'job_name', @job_title  %>

          <div class="form-group">
            <label for="last_name" class="cols-sm-2 control-label">Last Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <%= text_field_tag "last_name", nil, class: 'form-control', placeholder: "Enter the Last Name"%>
                <%= select_tag "last_name_regex", options_for_select([['Contains', 'Contains'], ['Starts With', 'Starts With'], ['Ends With', 'Ends With'], ['Exactly Matches','Exactly Matches']]), :class => 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="cols-sm-2 control-label">Gender</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <%= select_tag "gender", options_for_select([['Any', 'Any'], ['Male', 'Male'], ['Female', 'Female']]), :class => 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="country" class="cols-sm-2 control-label">Country</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                <%= select_tag "country", options_for_select([["",""],["United States", "United States"]]),:class => 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="state" class="cols-sm-2 control-label">State</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                <%= select_tag "state", options_for_select(CS.states(:us)),include_blank:true,:class => 'form-control'%>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="city" class="cols-sm-2 control-label">City</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                <%= text_field_tag "city", nil, class: 'form-control', placeholder: "Enter the city name"%>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="city" class="cols-sm-2 control-label">Distance</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker fa" aria-hidden="true"></i></span>
                <%= text_field_tag "distance", nil, class: 'form-control', placeholder: "20 miles"%>
              </div>
            </div>
          </div>

          <% if @attr_titles %>
          <% @attr_titles.each do |status| %>

          <div class="form-group">
            <label for=<%= status %> class="cols-sm-2 control-label"><%=status%></label>
            <div class="cols-sm-10">
              <div class="input-group">
                <%= text_field_tag status, nil, class: 'form-control', placeholder: status%>

              </div>
            </div>
          </div>

          <% end %>
          <% end %>

        <div class="form-group">
        <div class="input-group">
      <p>
        <b>
          <%= label_tag "Genre" %>
        </b>
        <br/>
        <%= label_tag "Acting" %>
        <%= check_box_tag 'checkboxes[]', "Acting" %>
        <%= label_tag "Art" %>
        <%= check_box_tag 'checkboxes[]', "Art" %>
        <%= label_tag "Cosplay" %>
        <%= check_box_tag 'checkboxes[]', "Cosplay" %>
        <%= label_tag "Dance" %>
        <%= check_box_tag 'checkboxes[]', "Dance" %>
        <%= label_tag "Editorial" %>
        <%= check_box_tag 'checkboxes[]', "Editorial" %>
        <%= label_tag "Erotic" %>
        <%= check_box_tag 'checkboxes[]', "Erotic" %>
        <%= label_tag "Fashion" %>
        <%= check_box_tag  'checkboxes[]', "Fashion" %>
        <br/>
        <%= label_tag "Fetish" %>
        <%= check_box_tag 'checkboxes[]', "Fetish" %>
        <%= label_tag "Fitness" %>
        <%= check_box_tag 'checkboxes[]', "Fitness" %>
        <%= label_tag "Glamour" %>
        <%= check_box_tag 'checkboxes[]', "Glamour" %>
        <%= label_tag "Hair/Makeup" %>
        <%= check_box_tag 'checkboxes[]', "Makeup" %>
        <%= label_tag "Lifestyle" %>
        <%= check_box_tag 'checkboxes[]', "Lifestyle" %>
        <%= label_tag "Lingerie" %>
        <%= check_box_tag 'checkboxes[]', "Lingerie" %>
        <br/>
        <%= label_tag "Parts Modeling" %>
        <%= check_box_tag 'checkboxes[]', "Parts Modeling" %>
        <%= label_tag "Performance Artist" %>
        <%= check_box_tag 'checkboxes[]', "Performance Artist" %>
        <%= label_tag "Pinup" %>
        <%= check_box_tag 'checkboxes[]', "Pinup" %>
        <%= label_tag "Promotional Modeling" %>
        <%= check_box_tag 'checkboxes[]', "Promotional Modeling" %>
        <%= label_tag "Maternal" %>
        <%= check_box_tag 'checkboxes[]', "Maternal" %>
        <br/>
        <%= label_tag "Runway" %>
        <%= check_box_tag 'checkboxes[]', "Runway" %>
        <%= label_tag "Spokesperson/Host" %>
        <%= check_box_tag 'checkboxes[]', "Spokesperson/Host" %>
        <%= label_tag "Sports" %>
        <%= check_box_tag 'checkboxes[]', "Sports" %>
        <%= label_tag "Stunt" %>
        <%= check_box_tag 'checkboxes[]', "Stunt" %>
        <%= label_tag "Swimwear" %>
        <%= check_box_tag 'checkboxes[]', "Swimwear" %>
        <%= label_tag "Underwater" %>
        <%= check_box_tag 'checkboxes[]', "Underwater" %>
      </p>
      <b>
        <%= label_tag "Experience" %>
        <br/>
        <%= select_tag :experience, options_for_select([[""],["0-2 years"],["3-6 years"],["7-10 years"],["11+ years"]]) %>
      </b>
      <p>
        <%= button_tag 'Submit' %>
      </p>
      </div>
      </div>
    <% end %>
  </div>
</section>

          </div>
      </div>
    </div>
  </div>
  <footer>  
    <div class="footer-main">
      <div class="container-fluid custom-container">
        <div class="row"> 
          <div class="col-md-3 col-xl-4">
            <div class="footer-block">
              <h1 class="footer-title">About Us</h1>
              <p>FashioNXT creates innovative fashion experiences and the creative edge in lifestyle technology.</p>
              <ul class="soc_buttons">
                <li><a href="https://www.facebook.com/FASHIONXtONLINE/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/fashionxtonline"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.pinterest.com/fashionxtonline/"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.instagram.com/fashionxtonline/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/fashionxt/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-xl-2">
            <div class="footer-block">
              <h1 class="footer-title">Some Links</h1>
              <div class="row footer-list-footer">
              <div class="col-md-6">
              <ul class="link-list">
                <li><a href="https://fashionxt.com/agency/">About Us</a></li>
                <li><a href="https://fashionxt.com/contact/">Help</a></li>
                <li><a href="https://fashionxt.com/contact/">Contacts</a></li>
                <li><a href="https://www.linkedin.com/company/fashionxt/jobs/">Job</a></li>
              </ul></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container-fluid custom-container">
        <div class="col-md-12 footer-end clearfix">
          <div class="left">
            <span class="copy">© 2018. All rights reserved. <span class="white"><a href="fashionxt.com"> FashioNXT</a></span></span>
            <span class="created">Created with LOVE by <span class="white"><a href=""> ThatSoftwareEngineeringGroup</a></span></span>
          </div>
        </div>      
      </div>
    </div>    
  </footer>

  <div class="be-fixed-filter"></div>
  <%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
  <div class="large-popup login">
    <div class="container large-popup-container">
      <div class="row">
        <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
          <div class="row">
            <div class="col-md-12">
              <i class="fa fa-times close-button"></i>
              <h5 class="large-popup-title">Log in</h5>
            </div>
            <form action="#" class="popup-input-search" method="post">
            <div class="col-md-6">
              <%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
              <!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
            </div>
            <div class="col-md-6 form-group">
              <%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
              <!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-6 for-signin">
              <%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
              <!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <!-- SCRIPT -->
  <script src="<%= asset_path "jquery.min.js"%>"></script>
  <script src="<%= asset_path "jquery-ui.js"%>"></script>
  <script src="<%= asset_path "bootstrap.min.js"%>"></script>   
  <script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
  <script src="<%= asset_path "jquery.mixitup.js"%>"></script>
  <script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
  <script src="<%= asset_path "global.js"%>"></script>
  </body>
</html>
