<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/body" %>
<div id="SPECIFICFORM">
  <h1>
    <b>SEARCH FOR FASHION PROFILES</b>
  </h1>
  <%= form_tag(search_profile_search_general_path, :method => 'get') do %>
      <p>
        First Name
        <br/>
        <%= text_field_tag "first_name" %>
      </p>
      <p>
        Last Name
        <br/>
        <%= text_field_tag "last_name" %>
      </p>
      <p>
        Gender
        <br/>
        <%= text_field_tag "gender" %>
      </p>
      <p>
        State
        <br/>
        <%= text_field_tag "state" %>
      </p>
      <p>
        City
        <br/>
        <%= text_field_tag "city" %>
      </p>
      <p>
        Compensation
        <br/>
        <%= select_tag "compensation", options_for_select([[''], ['Any', 'Any'], ['Assignment Based', 'Assignment Based'], ['Pay Only', 'Pay Only']]) %>
      </p>
      <p>
        Profession
        <br/>
        <%= select_tag "profession", options_for_select([['Any', '0'], ['Designer', '1'], ['Model', '2'], ['Photographer', '3']]) %>
      </p>
      <p>
        <%= button_tag 'Submit' %>
      </p>
  <% end %>
  <!--/Priority:
  -->
  <!--/%br/
  -->
  <!--/= select_tag("priority", options_for_select([['Critical', '1'], |
  -->
  <!--/  ['Important', '2'],['Standard','3']], '3'))                   |
  -->
</div>
<!--/%p
-->
<!--/  Describe your problem:
-->
<!--/  %br/
-->
<!--/  = text_area_tag "description", "", :size=>"50x20"
-->
<!--/%p
-->
<!--/  Add an attachment:
-->
<!--/  %br/
-->
<!--/  = file_field_tag "attachment"
-->
</body>
