<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<%= render :partial => "/layout/navigation" %>
  
  <!-- Header -->
  <header class="masthead"
          <% if @general_info.cover_picture.url %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; background-size: cover;">
          <% else %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)); background-size: cover;">
          <% end %>
    <div class="container">
      <div class="row centered">
        <div class="profile-img-container">
          <% if @general_info.profile_picture.url %>
              <img class="profile-img" src="<%= @general_info.profile_picture.url %>" alt="">
          <% else %>
              <img class="profile-img" src="<%= asset_path 'profile.png' %>" alt="">
          <% end %>
        </div>
        <div class="col-lg-12">
          <% if @general_info && @general_info.first_name %>
            <h1><%= @general_info.first_name %>
          <% end %>
          <% if @general_info && @general_info.last_name %>
            <%= @general_info.last_name %></h1>
          <% end %>
          <h3><i class="fa fa-map-marker"></i> <%= @general_info_values[:location] %> </h3>
        </div><!--/.col-lg-12 -->
      </div>
    </div>
  </header>

  <div class="container edit-btn">
    
  </div>

  <section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
        <% if @general_info && @general_info.bio != "" %>
          <h5>ABOUT</h5>
        </div>
        <div class="col-lg-6">
            <p><%= @general_info.bio %></p>
        </div>
        <div class="col-lg-3">
          <p><sm>SOCIAL LINKS</sm></p>
          <p>
            <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
            <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
          </p>
          <br>
        </div>
        <% else %>
          <p><sm>SOCIAL LINKS</sm></p>
        </div>
        <div class="col-lg-6">
          <p>
            <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
            <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
        <% end %>
        
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

  <div id="gallery">
    <div class="container">
      <div class="col-md-12">
        <!-- <div class="row"> -->
        <br>
          <div class="gal" id="portfolio">
            <div class="row">
              <p>
                <% @general_info.gallery_pictures.each do |pic| %>
                  <div class="portfolio-item">
                    <a class="portfolio-link" href="#" data-toggle="modal">
                      <div class="caption">
                        <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img class="img-fluid" src="<%= pic.url %>" alt="">
                    </a>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>
<%= render :partial => "/layout/profile_javascripts" %>
</body>
