<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/body" %>
<div id="SEARCHMAINDIV">
  <h1>
    <b>
      <%= "SEARCH RESULTS" + @testString.to_s %>
    </b>
  </h1>
  <p>
    <%= flash[:notice] %>
    <% @users.each do |info| %>
      <div id="SEARCHDISPLAYDIV">
        <% if info.profile_picture? %>
            <%= link_to image_tag(info.profile_picture.url), search_profile_show_profile_path(info.userKey) %>
        <% else %>
            <%= link_to image_tag("http://www.combonetwork.com/img/empty_profile.png"), search_profile_show_profile_path(info.userKey) %>
        <% end %>
        <div id="SEARCHDISPLAYTEXT">
          <!--/name gender state profession
          -->
          <h2>
            <%= link_to "#{info.first_name} #{info.last_name}", search_profile_show_profile_path(info.userKey) %>
            <h3></h3>
            <!--/ %br
            -->
            <% if info.specific_profile_id == 1 %>
                <%= "Designer" %>
            <% elsif info.specific_profile_id == 2 %>
                <%= "Model" %>
            <% elsif info.specific_profile_id == 3 %>
                <%= "Photographer" %>
            <% end %>
            <br/>
          </h2>
          <%= info.city + ", " + info.state %>
          <br/>
          <!--/= link_to "Profile", search_profile_show_profile_path(info.userKey)
          -->
          <br>
          <%= truncate(info.bio, length: 80) %>
          </br>
        </div>
      </div>
  <% end %>
  </p>
</div>
</body>

