= render :partial => "/layout/header"

%body
  = render :partial => "/layout/body"
  #TOPPICTURES
    - if @general_info.cover_picture?
      = image_tag @general_info.cover_picture.url, :class => 'Cover'
    - else
      %img.Cover{:src => "https://weathervanemusic.org/uploads/files/914651792900347299-gray-block.full.jpg"}
    - if @general_info.profile_picture?
      = image_tag @general_info.profile_picture.url, :class => 'Profile'
    - else
      %img.Profile{:src => "http://www.combonetwork.com/img/empty_profile.png"}
    #PROFILENAME 
      %p
        = @general_info.first_name
        = @general_info.last_name
    #EDITLINKS
      %a{:href => "/login_info/edit"} Edit Login Info
      %a{:href => "/general_info/edit"} Edit General Info
      - if (@profile_type != nil)
        - if @profile_type.upcase == "MODEL"
          %a{:href => "/specific_model/edit"} Edit Model Info
        - elsif @profile_type.upcase == "DESIGNER"
          %a{:href => "/specific_designer/edit"} Edit Designer Info
        - elsif @profile_type.upcase == "PHOTOGRAPHER"
          %a{:href => "/specific_photographer/edit"} Edit Photographer Info
      %a{:href => "/general_info/edit_profession"} Edit Occupation
      // %a{:href => "/login_info/delete"} Delete Account
  #PROFILEINFO
    #PROFILETEXT 
      %h2 
        %b GENERAL INFO
      %p
        // #EDITLINKS
        //   %a{:href => "/login_info/edit"} Edit Login Info
        //   %a{:href => "/general_info/edit"} Edit General Info
        %br
        - @general_info_values.each do |info|
          - info_array = info[1].split(":")
          - if(info_array[1] != nil)
            %br
            %b
              = info_array[0] + ":"
            = info_array[1]
      %br
      - if (@profile_type != nil)
        %h2
          %b
            = @profile_type.upcase + " SPECIFICS"
        %p
        // #EDITLINKS
        //   - if (@profile_type != nil)
        //     %a{:href => "/general_info/edit_profession"} Edit Occupation
        //     - if @profile_type.upcase == "MODEL"
        //       %a{:href => "/specific_model/edit"} Edit Model Info
        //     - elsif @profile_type.upcase == "DESIGNER"
        //       %a{:href => "/specific_designer/edit"} Edit Designer Info
        //     - elsif @profile_type.upcase == "PHOTOGRAPHER"
        //       %a{:href => "/specific_photographer/edit"} Edit Photographer Info
        //    %br
        - if (@profile_info != nil)
          %p
            - @profile_info.each do |info|
              - info_array = info[1].split(":")
              - if(info_array[1] != nil)
                %br
                %b
                  = info_array[0] + ":"
                = info_array[1]


    #PROFILEIMAGES
      %h2 
        %b FEATURED GALLERY
      %p This gallery showcases the currently featured images for your profile.
      %p If you would like to upload a new set of images, go to the "edit general info" link.
      - if @general_info.gallery_pictures?
        - @general_info.gallery_pictures.each do |picture|
          = image_tag picture.url, :class => 'gallery'
      - else
        %img.gallery{:src => "http://www.combonetwork.com/img/empty_profile.png"}