<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<%= render :partial => "/layout/navigation" %>
  
  <!-- Header -->
  <header class="masthead"
          <% if @general_info.cover_picture.url %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; background-size: cover;">
          <% else %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)); background-size: cover;">
          <% end %>
    <div class="container">
      <div class="row centered">
        <div class="profile-img-container">
          <% if @general_info.profile_picture.url %>
              <img class="profile-img" src="<%= @general_info.profile_picture.url %>" alt="">
          <% else %>
              <img class="profile-img" src="<%= asset_path 'profile.png' %>" alt="">
          <% end %>
        </div>
        <div class="col-lg-12">
          <% if @general_info && @general_info.first_name %>
            <h1><%= @general_info.first_name %>
          <% end %>
          <% if @general_info && @general_info.last_name %>
            <%= @general_info.last_name %></h1>
          <% end %>
	  <h2><%= @job_title %></h2>
          <h3><i class="fa fa-map-marker"></i> <%= @general_info_values[:location] %> </h3>
        </div><!--/.col-lg-12 -->
      </div>
    </div>

          <% if(@is_Admin && !@on_Own) %>
	  <div class="row right">
            <div class="col-lg-11 admin-btn" align="right">
              <a href= "general_info/make_admin/<%= @addUser  %>" class="btn btn-info">Make Administrator</a>
            </div>
	  </div>
          <% elsif (@on_Own && @is_Admin)%>
          <div class="row right">
	    <div class="col-lg-11 admin-btn" align="right">
              <a href= "/admin" class="btn btn-info">Go to Admin Page</a>
	    </div>
	  </div>
          <% end %>

    <% if @on_Own %>
      <div class="row right">
        <div class="col-lg-5 col-lg-offset-7 col-xs-12 edit-btn" align="right">
          <a href="/login_info/edit" class="btn btn-info">Edit Login Info</a>
          <a href="/general_info/edit" class="btn btn-info">Edit General Info</a>
          <a href="/edit_job" class="btn btn-info"><%= "Edit "+ @job_title + " Info" %></a>
          <!-- 
          <a href="/general_info/edit_profession" class="btn btn-info">Edit Occupation</a> -->
          <!--/ %a{:href => "/login_info/delete"} Delete Account
          -->
        </div>
      </div>
    <%  end %>
  </header>

  <section id="about" name="about"></section>
  
  <div id="intro">
    <div class="container">

      <div class="row">
	<h4>ABOUT</h4>
        <% if @general_info %>
          
        <div class="col-lg-12">
          <p><%= @general_info.bio %></p>
          <br>
        </div> 
        <div class = "col-lg-12">
	  <% @attribute_titles.each_with_index do |attr, index|%>
	    <p> <%= attr %> </p>
	    <p> <%= @attribute_contents[index] %> </p>
            <br>
	  <% end %>
	</div>

	<div>
          <p><sm>SOCIAL LINKS</sm></p>
        </div>

        <div class="col-lg-12">
          <p>
            <% if @general_info && @general_info.facebook_link != "" %>
              <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
            <% end %>

            <% if @general_info && @general_info.linkedIn_link != "" %>
              <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
            <%end%>
          </p>
        </div>
        <% end %>

        
        <p>CONTACT INFORMATION</p>
         
        <div class="col-lg-12">
          <p>
	    <% if @login_info && @login_info.email != "" %>
              <a href="mailto:<%= @email %>"><i class="fa fa-envelope-o"></i></a>
            <% end %>

            <% if @general_info && @general_info.phone != "" %>
              <a href="tel:<%= @general_info.phone %>"><i class="fa fa-phone"></i></a>
            <%end%>
          </p>
        </div>
      </div><!--/.row -->

<!--
      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <% if @general_info && @general_info.bio =="*##*!(@dummy" %>
            <h5>ABOUT</h5>
          </div>
          <div class="col-lg-6">
            <p><%= @general_info.bio %></p>
          </div>
          <div class="col-lg-3">
            <p><sm>SOCIAL LINKS</sm></p>
            <p>
              <% if @general_info && @general_info.facebook_link == "28231hsh292$" %>
                <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
              <% end %>

                <% if @general_info && @general_info.linkedIn_link == "238jsdsajhdask" %>
                  <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
                <%end%>

              </p>
              <br>
            </div>
          <% else %>
            <p><sm>CONTACT INFORMATION</sm></p>
        </div>
          <div class="col-lg-6">
            <p>
              <% if @login_info && @login_info.email != "" %>
                <a href="mailto:<%= @login_info.email %>"><i class="fa fa-envelope-o"></i></a>
              <% end %>

              <% if @general_info && @general_info.phone != "" %>
                <%= @general_info.phone %>
              <%end%>
            </p>
          </div>
          <% end %>


        </div>

      </div>

    </div><!--/.container -->
  </div><!--/ #intro -->

  <div id="gallery">
    <div class="container">
      <div class="col-md-12">
        <!-- <div class="row"> -->
        <br>
          <div class="gal" id="portfolio">
            <div class="row">
                <% @general_info.gallery_pictures.each do |pic| %>
                  <div class="portfolio-item">
                    <a class="portfolio-link" href="#" data-toggle="modal">
                      <div class="caption">
                        <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img class="img-fluid" src="<%= pic.url %>" alt="">
                    </a>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>
<%= render :partial => "/layout/profile_javascripts" %>
</body>
