<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<%= render :partial => "/layout/navigation" %>
  
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="row centered">
        <div class="profile-img-container">
          <% if @general_info.profile_picture.url %>
              <img class="profile-img" src="<%= @general_info.profile_picture.url %>" alt="">
          <% else %>
              <img class="profile-img" src="<%= asset_path 'profile.png' %>" alt="">
          <% end %>
        </div>
        <div class="col-lg-12">
          <h1><%= @general_info.first_name + ' ' + @general_info.last_name %></h1>
          <h3><i class="fa fa-phone"></i></a> +55 8933-2383  | <i class="fa fa-envelope"></i></a> william@blacktie.co | <i class="fa fa-map-marker"></i></a> London, England. </h3>
        </div><!--/.col-lg-12 -->
      </div>
    </div>
  </header>

  <section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-2 col-lg-offset-1">
          <h5>ABOUT DESIGNER</h5>
        </div>
        <div class="col-lg-6">
          <p>I'm a designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.</p>
        </div>
        <div class="col-lg-3">
          <p><sm>SOCIAL LINKS</sm></p>
          <p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>

          </p>
          <br>
          
        </div>
        
      </div><!--/.row -->
    </div><!--/.container -->
  </div><!--/ #intro -->

  <div id="gallery">
    <div class="container">
      <div class="col-md-12">
        <!-- <div class="row"> -->
        <br>
          <div class="gal" id="portfolio">
            <div class="row">
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img class="img-fluid" src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                 <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                 <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
               </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
               </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
               </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/mysOxk/3.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
                </a>
              </div>
              <div class="portfolio-item">
                <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="https://preview.ibb.co/mWpE3Q/2.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>


<%= render :partial => "/layout/profile_javascripts" %>
</body>
