<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
		</style>
		
	</head>
	<body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
	

	<!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<header>
		
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="/">
						<img class="logo-c active be_logo"  src="<%= asset_path "new_logo.png"%>" alt="logo">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo2">
						<img  class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo3">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo4">
					</a>
				</div>
				
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<li><a href="/search_profile/search">Search</a>
						</li>
						<% if session[:current_user_key] %>
							<li><a href="/show_profile">My Profile</a></li>
							<% if @on_Own %>
								<li><a href="/general_info/edit">Edit Profile</a>
									<ul>
										<li><a href="/general_info/edit">Edit Profile</a></li>
										<% if @attribute_titles && !@is_Admin %>
											<li><a href="/specific_<%=@job_title.downcase%>/edit">Edit <%=@job_title %> Info</a></li>
										<% end %>
										<li><a href="/login_info/edit">Change Password</a></li>
										<% if !@is_Admin %>
											<li><a href="general_info/make_admin/<%=@addUser%>">Make Administrator</a></li>
										<% elsif @is_Admin%>
											<li><a href="/admin">Admin Dashboard</a></li>
										<% end %>
									</ul>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
    
                <!--Logout Button Begin -->
                <div class="login-header-block">
                    <div class="login_block">
                        <% if session[:current_user_key] %>
                        <%= link_to 'Log out', logout_path, method: :get, :class => "btn color-1 size-2 hover-2" %>
                        <% else %>
                        <%= link_to 'Log in', login_path, method: :post, :class => "btn btn-login color-1 size-2 hover-2" %>
                        <% end %>
                    </div>
                </div>
                <!--Logout Button End-->
    
			</div>
		</div>
		
		
	</header>
	
	
	<!-- MAIN CONTENT -->
	<div id="content-block"
		<% if @general_info.cover_picture.url %>
			style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; margin-bottom:0px; background-size: cover;">
		<% else %>
			>
		<% end %>
		<div class="container be-detail-container">
			<div class="row profile-row">
				<div class="col-xs-12 col-md-6 left-feild">
					<div class="be-user-block style-3">
						<div class="be-user-detail">
							<% if @general_info.profile_picture.url %>
								<img class="profile-img img-thumbnail" src="<%= @general_info.profile_picture.url %>" width="150px" height="150px" style="position:absolute;top:10px;left:30px" alt="">
							<% else %>
                                <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>" width="150px" height="150px" style="position:absolute;top:10px;left:30px" alt="">
							<% end %>
							<div class = "show-page-front">
								INSPIRED BY: 
								<span>INSPIRATION TO:</span>
							</div>

							
								<p >&emsp;</p>



								<p style="font-size: 12px/30px; margin-top:10px; text-align: left; margin-left: 287px" ><%= @general_info.first_name %>&emsp;<%= @general_info.last_name %></p>
								
								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 287px"><%= @general_info.city %></p>
								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 287px"><%= @general_info.state %></p>
								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 287px; margin-bottom: 0px;"><%= @general_info.country %></p>
								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 287px; margin-bottom: 20px;"><%= @general_info.phone %></p>
								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 287px; margin-bottom: 20px;"><%= @general_info.specific_profile %></p>

								<p style="font-size: 12px/30px; margin-top:0px; text-align: left; margin-left: 30px; margin-bottom: 40px;">high light:</p>
							
							<!--<img src="img/ava_10.jpg" alt=""> -->
							
							<div class="be-text-tags style-1 job_title-style">
								<a><%= @job_title %></a>
							</div>
							<div class="be-user-social">
								<!--% if @general_info && @general_info.facebook_link != "" %-->							
									<a class="social-btn color-1" href="http://<%= @general_info.facebook_link%>" target="_blank"><i class="fa fa-facebook"></i></a>
								<!--% end %-->
								<!--% if @general_info && @general_info.linkedIn_link != "" %-->
									<a class="social-btn color-6" href="http://<%= @general_info.linkedIn_link %>" target="_blank"><i class="fa fa-linkedin"></i></a>
								<!--% end %-->
								<!--% if @login_info && @login_info.email != "" %-->
									<a class="social-btn color-3" href="mailto:<%= @login_info.email %>"><i class="fa fa-envelope"></i></a>
								<!--% end %-->
								<!--% if @general_info && @general_info.phone != "" %-->
									<a class="social-btn color-2" href="tel:<%= @general_info.phone %>"><i class="fa fa-phone"></i></a>
								<!--% end %-->
							</div>
							<!--% if @general_info && @general_info.personalWebsite_link != "" %-->
								<a class="be-user-site" href="http://<%= @general_info.personalWebsite_link %>" target="_blank"><i class="fa fa-link"></i> <%= @general_info.personalWebsite_link %></a>
							<!--% end %-->
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 left-feild">
					<div class="be-desc-block">
				  		<!--% if @general_info && @general_info.bio != "" %-->
							<div class="be-desc-author">
								<div class="be-desc-label">About Me</div>
								<div class="clearfix"></div>
								<div class="be-desc-text">
									<!--Add Bio HERE-->
									<%= @general_info.bio %>
								</div>
							</div>
						<!--% end %-->
					</div>
					<div class="be-desc-block">
						<!--% if @general_info && @profile_info%-->
							<div class="be-desc-author">
								<div class="be-desc-label">More Details on Profession</div>
								<div class="clearfix"></div>
								<div class="be-desc-text  scrollable-description">
								  <!--profession details here-->
								  	<% @profile_info.present? and @profile_info.each do |attr, index|%>
										<!--<div class="input-col col-xs-12 col-sm-6">-->
											<div class="form-group fg_icon focus-2">
												<div class="form-label"><%=index%></div>
<!--												<input class="form-input disabled-input" type="text" value="<%#=index%>" disabled>-->
											</div>							
										<!--</div>-->
									<% end %>
								  	
								</div>
							</div>
						<!--% end %-->
					</div>
			  	</div>
			</div>
		</div>
        <div class="container-fluid custom-container">
            <div class="row profile-row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="container-mix"  class="row _post-container_">
						<% if @on_Own %>
							<div class="be-desc-label"><a href="/galleries/new">Add Project</a></div>
						<% end %>
                        <div class="be-post">
                            <div class="be-desc-label">Gallery Pictures</div>
							<% @gallery.present? and @gallery.each do |gallery| %>
								<% if gallery.GeneralInfo_id == @general_info.id %>
									<div class="col-md-3">
										<div class="photo photo-type-line">
										<a class="photo-hover" href="<%= galleries_show_path(:project_key => gallery.id) %>">
											<div class="photo-info">
											<div class="headline"> <%= gallery.gallery_title %> </div>
											<div class="line"></div>
											<div class="desc"> <%= gallery.gallery_description %> </div>
											</div>
											<div class="mask"></div>
										</a>
										<div class="profile-img-container">
										<a class="be-img-block profile-img img-thumbnail">
											<img src="<%= gallery.gallery_picture[0].url %>" alt="omg">
										</a>
										</div>
										</div>
<<<<<<< HEAD
										<ul>
											<% (1..5).each do |i| %>
  								    			<li class="rating_star" data-stars="<%= i %>" data-picture-id="<%= @general_info.specific_profile_id %>" id="<%= "#{@general_info.specific_profile_id}_#{i}" %>" > &#9733; <li>
  								    		<% end %>
   										</ul>

										<div class="mask"></div>
									</a>
									<div class="profile-img-container">
                                    <a class="be-img-block profile-img img-thumbnail">
                                        <img src="<%= pic.url %>" alt="omg">
                                    </a>
                                    </div>
=======
>>>>>>> d7aab7ded0628ce60f3aeab9a3e25ea58695a04f
									</div>
								<% end %>
							<% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<!-- MAIN CONTENT END -->
	<footer>	
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">	
					<div class="col-md-3 col-xl-4">
						<div class="footer-block">
							<h1 class="footer-title">About Us</h1>
							<p><a href="https://fashionxt.com/">FashioNXT</a> creates innovative fashion experiences and the creative edge in lifestyle technology.</p>
							<ul class="soc_buttons">
                                    <li id="fb"><a href="https://www.facebook.com/FASHIONXtONLINE/"><i class="fa fa-facebook"></i></a></li>
                                    <li id="twitter"><a href="https://twitter.com/fashionxtonline"><i class="fa fa-twitter"></i></a></li>
                                    <li id="pinterest"><a href="https://www.pinterest.com/fashionxtonline/"><i class="fa fa-pinterest"></i></a></li>
                                    <li id="insta"><a href="https://www.instagram.com/fashionxtonline/"><i class="fa fa-instagram"></i></a></li>
                                    <li id="linkedin"><a href="https://www.linkedin.com/company/fashionxt/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xl-2">
						<div class="footer-block">
							<h1 class="footer-title">Some Links</h1>
							<div class="row footer-list-footer">
							<div class="col-md-6">
							<ul class="link-list">
                                <li><a href="https://fashionxt.com/agency/">About Us</a></li>
                                <li><a href="https://fashionxt.com/contact/">Help</a></li>
                                <li><a href="https://fashionxt.com/contact/">Contacts</a></li>
                                <li><a href="https://www.linkedin.com/company/fashionxt/jobs/">Job</a></li>
							</ul></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
                        <span class="copy">© 2018. All rights reserved. <span class="white"><a href="fashionxt.com"> &nbsp FashioNXT</a></span></span>
                        <span class="created">Created by <span class="white"><a href=""> CodeCreators</a></span></span>
					</div>
				</div>			
			</div>
		</div>		
	</footer>

	<div class="be-fixed-filter"></div>
	<%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
	<div class="large-popup login">
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="#" class="popup-input-search" method="post">
						<div class="col-md-6">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
							<!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
						</div>
						<div class="col-md-6 form-group">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
							<!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
						</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-6 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- SCRIPT	-->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "jquery-ui.js"%>"></script>
	<script src="<%= asset_path "bootstrap.min.js"%>"></script>		
	<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
	<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
	<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
	</body>
</html>
