= render :partial => "/layout/header"

%body
  = render :partial => "/layout/body"
  #TOPPICTURES
    %img.Cover{:src => "http://i.imgur.com/lxUw5lC.jpg"}
    - if @general_info.profile_picture?
      = image_tag @general_info.profile_picture.url, :class => 'Profile'
    - else
      %img.Profile{:src => "http://www.combonetwork.com/img/empty_profile.png"}
    #PROFILENAME 
      %p
        = @general_info.first_name
        = @general_info.last_name
  #PROFILEINFO
    #PROFILETEXT 
      %h2 
        %b GENERAL INFO
      %p
        #EDITLINKS
          %a{:href => "/login_info/edit"} Edit Login Info
          %a{:href => "/general_info/edit"} Edit General Info
        %br
        - @general_info_values.each do |info|
          - info_array = info[1].split(":")
          - if(info_array[1] != nil)
            %br
            %b
              = info_array[0] + ":"
            = info_array[1]
      %br
      - if (@profile_type != nil)
        %h2
          %b
            = @profile_type.upcase + " SPECIFICS"
        %p
        #EDITLINKS
          - if (@profile_type != nil)
            %a{:href => "/general_info/edit_profession"} Edit Occupation
            - if @profile_type.upcase == "MODEL"
              %a{:href => "/specific_model/edit"} Edit Model Info
            - elsif @profile_type.upcase == "DESIGNER"
              %a{:href => "/specific_designer/edit"} Edit Designer Info
            - elsif @profile_type.upcase == "PHOTOGRAPHER"
              %a{:href => "/specific_photographer/edit"} Edit Photographer Info
            %br
          - if (@profile_info != nil)
            - @profile_info.each do |info|
              - info_array = info[1].split(":")
              - if(info_array[1] != nil)
                %br
                %b
                  = info_array[0] + ":"
                = info_array[1]


    #PROFILEIMAGES
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17362849_10211223581478861_2645443704418619416_n.jpg?oh=97b2a311b5af84a41cad41a1292ecdc4&oe=595821F5"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17362849_10211223581478861_2645443704418619416_n.jpg?oh=97b2a311b5af84a41cad41a1292ecdc4&oe=595821F5"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17155975_10210714249765323_7631817103346325952_n.jpg?oh=53c2f78e3ac184c7bddbaaf19435e7eb&oe=5993FFF2"}/
    
    
   