<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/390013241f.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
		<link rel="stylesheet" href="<%= asset_path "collaborators.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
			.navbar-toggle .icon-bar {
  				background-color: black !important;
			}
			.navbar a {
  				color: black !important; /* Ensures links are black */
			}
			.navbar-collapse {
  				background-color: white; /* Sets the collapsed navbar background color */
			}
			@media (min-width: 768px) {
				.navbar .navbar-nav {
					display: inline-block;
					float: none;
					vertical-align: top;
				}
				.navbar .navbar-collapse {
					text-align: center;
				}
			}
		</style>
		
	</head>
	<body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
	

	<!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<%= render 'shared/header' %>
	
	
	<!-- MAIN CONTENT -->
	<div id="content-block"
		<% if @general_info && @general_info.cover_picture.url %>
			style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; margin-bottom:0px; background-size: cover;">
		<% else %>
			>
		<% end %>
		<div class="container be-detail-container">
			<div class="row profile-row">
				<div class="col-xs-12 col-md-6 left-box">
					<div class="be-user-block style-3">
						<div class="be-user-detail">
							<% if @general_info && @general_info.profile_picture.url %>
								<img class="profile-img img-thumbnail" src="<%= @general_info.profile_picture.url %>" width="150px" height="150px" style="position:absolute;top:10px;left:30px" alt="">
							<% else %>
                                <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>" width="100px" height="100px" style="position:absolute;top:10px;left:30px" alt="">
							<% end %>
							<% if @general_info %>
								<p style="font-size: 16px; margin-top:5px; text-align: center; margin-left: 200px"><label>Name:</label><%= " "+ @general_info.first_name+" " %><%= @general_info.last_name %></p>
								<p style="font-size: 16px; margin-top:5px; text-align: center; margin-left: 200px"><label>Location:</label><%= " "+ @general_info.city+", " %><%= @general_info.state+", " %><%= @general_info.country %></p>
								<p style="font-size: 16px; margin-top:5px; text-align: center; margin-left: 200px"><label>Category:</label><%= " "+ (@general_info[:industry] ? @general_info.industry : "Not defined") %></p>
								<p style="font-size: 16px; margin-top:5px; text-align: center; margin-left: 200px"><label>Professions:</label><%= " "+ @general_info.job_name %></p>
							<% end %>
							<% if @general_info && @general_info.travel_start %>
							<p style="font-size: 16px; margin-top:5px; text-align: center; margin-left: 200px"><label>Travel:</label> In <%= @general_info.travel_city%>, <%= @general_info.travel_state%>, <%= @general_info.travel_country%> from <%= @general_info.travel_start.strftime('%b %d')%> to <%= @general_info.travel_end.strftime('%b %d') %>: <%= @general_info.travel_details %></p>
							<% end %>
							<br>
							<% if @general_info %>
								<p style="font-size: 12px; margin-top:0px; text-align: center;
										margin-left: 30px; margin-bottom: 5px; height: 60px;
										overflow: hidden;"><%= @general_info.highlights %></p>
							<% end %>
							<!--<img src="img/ava_10.jpg" alt=""> -->
							<div class="follow-box">
								<div class="follow-element1">
									<% if @general_info %>
										<% if not @on_Own %>
											<% if not @currently_following %>
												<div style="margin-right: 10px; margin-left: 10px;">
													<%= link_to "/general_info/follow/" + @general_info.id.to_s, method: :get, :class => "btn color-2 size-0 hover-2" do%>
														<p>Follow</p>
													<% end %>
												</div>
											<% else %>
												<div style="margin-right: 10px; margin-left: 10px;">
													<%= link_to "/general_info/unfollow/" + @general_info.id.to_s, method: :get, :class => "btn color-2 size-0 hover-2" do%>
														<p>Unfollow</p>
													<% end %>
												</div>
											<% end %>
										<% end %>
									<% end %>
								</div>
								<div class="follow-element2">
									<div style="margin-right: 10px; margin-left: 10px;">
										<% if @followers %>
											<p><%=@followers.length%></p>
											<a href="#followers-modal" class="btn color-3 size-0 hover-9">
												<p>Followers</p>
											</a>
										<% end %>
									</div>
								</div>
								<div class="follow-element2">
									<div style="margin-right: 10px; margin-left: 10px;">
										<% if @following %>
											<p><%=@following.length%></p>
											<a href="#following-modal" class="btn color-3 size-0 hover-9">
												<p>Following</p>
											</a>
										<% end %>
									</div>
								</div>
							</div>	
							<div class="be-text-tags style-1 job_title-style">
								<a style="font-size: 20px"><%= @job_title %></a>
							</div>
							<div class="be-user-social">
								<% if @general_info && @general_info.facebook_link != "" %>							
									<% if @general_info.facebook_link.blank? %> 
										<a class="social-btn color-1"><i class="fa fa-facebook"></i></a>
									<% else %>
										<a class="social-btn color-1" href=<%= @general_info.facebook_link%> target="_blank"><i class="fa fa-facebook"></i></a>	
									<% end %>
									<% if @general_info.linkedIn_link.blank? %> 
										<a class="social-btn color-1"><i class="fa fa-linkedin"></i></a>
									<% else %>
										<a class="social-btn color-1" href=<%=@general_info.linkedIn_link%> target="_blank"><i class="fa fa-linkedin"></i></a>	
									<% end %>
									<% if @general_info.linkedIn_link.blank? %> 
										<a class="social-btn color-1"><i class="fa fa-link"></i></a>
									<% else %>
										<a class="social-btn color-1" href=<%=@general_info.personalWebsite_link%> target="_blank"><i class="fa fa-link"></i></a>	
									<% end %>
									<a class="social-btn color-3" href="mailto:<%= @login_info.email %>"><i class="fa fa-envelope"></i></a>
									<% if @on_Own %>
										<a class="social-btn color-4" href="/dm"> <i class="fa fa-message"></i> </a>
									<% else %>
										<a class="social-btn color-4" href="/dm/<%= @general_info.id %>"><i class="fa fa-message"></i></a>
									<% end%>
								<% end%>
							</div>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 right-box">
					<div class="top-right-box">
				  		<% if @general_info && @general_info.bio != "" %>
							<div class="be-desc-author">
								<div class="be-desc-label">About Me</div>
								<div class="clearfix"></div>
								<div class="be-user-detail">
									<!--Add Bio HERE-->
									<%= @general_info.bio %>
								</div>
							</div>
						<% end %>
					</div>

					<div class="bottom-right-box">
						<% if @general_info && @general_info.bio != "" %>
							<div class="be-desc-author">
								<div class="be-desc-label">Professional Details</div>
								<div class="clearfix"></div>
								<div class="be-user-detail">
									<!--Add Bio HERE-->
									<% if @general_info.specialization.blank?%>
										<p ><%= @general_info.profdetails %></p>
									<% else %>
										<p ><strong><%=	@general_info.specialization %>:</strong> <%= @general_info.profdetails %></p>
									<% end %>
									<p>Compensation Type: <%=@general_info.compensation%></p>
									<p>Years of Experience: <%=@general_info.experience%></p>
								</div>
							</div>
						<% end %>
					</div>

			  	</div>
			</div>
		</div>
		<!-- Follow Features -->
		<!-- <div class="follow-box">
			<% if not @on_Own %>
				<% if not @currently_following %>
					<div style="margin-right: 10px; margin-left: 10px;">
						<% if @general_info %>
							<%= link_to "/general_info/follow/" + @general_info.id.to_s, method: :get, :class => "btn color-2 size-1 hover-2" do%>
								<p>Follow</p>
							<% end %>
						<% end %>
					</div>
				<% else %>
					<div style="margin-right: 10px; margin-left: 10px;">
						<% if @general_info %>
							<%= link_to "/general_info/unfollow/" + @general_info.id.to_s, method: :get, :class => "btn color-2 size-1 hover-2" do%>
								<p>Unfollow</p>
							<% end %>
						<% end %>
					</div>
				<% end %>
			<% end %>
			<div style="margin-right: 10px; margin-left: 10px;">
				<a href="#followers-modal" class="btn color-3 size-0 hover-9">
					<p>Followers</p>
				</a>
			</div>
			<div style="margin-right: 10px; margin-left: 10px;">
				<a href="#following-modal" class="btn color-3 size-0 hover-9">
					<p>Following</p>
				</a>
			</div>
		</div> -->
		<!-- Popup Modals -->
		<div id="followers-modal" class="modalWindow">
			<div>
				<h2 style="margin-top: 10px;">Followers</h2>
				<div class="modal-elements-container">
					<% @followers and @followers.present? and @followers.each do |follower| %>
						<a href="<%= show_profile_show_profile_path(:user_key => follower.userKey) %>">
							<div class="modal-element"> <%= follower.first_name + " " + follower.last_name%> </div>
						</a>
					<% end %>
				</div>
				<div style="margin-top: 10px;">
					<a href="#ok" title="Ok" class="ok btn color-1 size-2 hover-1">Close</a>
				</div>
			</div>
		</div>
		<div id="following-modal" class="modalWindow">
			<div>
				<h2>Following</h2>
				<div class="modal-elements-container">
					<% @following and @following.present? and @following.each do |followee| %>
						<a href="<%= show_profile_show_profile_path(:user_key => followee.userKey) %>">
							<div class="modal-element"> <%= followee.first_name + " " + followee.last_name%> </div>
						</a>
					<% end %>
				</div>
				<div style="margin-top: 10px;">
					<a href="#ok" title="Ok" class="ok btn color-1 size-2 hover-1">Close</a>
				</div>
			</div>
		</div>

		<div class="container-fluid custom-container">
			<div class="row profile-row">
				<div class="col-md-10 col-md-offset-1">
					<div id="container-mix"  class="row _post-container_">
						<% if @on_Own %>
							<div class="be-desc-label"><a href="/galleries/new">Add Project</a></div>
							<% end %>
								<div class="be-post">
									<div class="be-desc-label">Gallery Pictures</div>
										<% @gallery and @gallery.present? and @gallery.each do |gallery| %>
										<% if @general_info && gallery.GeneralInfo_id == @general_info.id %>
											<div class="col-md-4">
												<div class="photo photo-type-line">
													<a class="photo-hover" href="<%= gallery_path(gallery.id) %>">
													
														<div class="photo-info">
															<div class="headline"> <%= gallery.gallery_title %> </div>
															<div class="line"></div>
															<div class="desc"> <%= gallery.gallery_description %> </div>
														</div>
														<div class="mask"></div>
													</a>
													<div class="profile-img-container">
														<a class="be-img-block profile-img img-thumbnail">
															<img src="<%= gallery.gallery_picture[0].url %>" alt="omg" class="img-fluid">
														</a>
														<div class="mask"></div>
									     			</div>
												</div>
												<br>
												<% if gallery.reviews.blank? %>
													<% average_review=0 %>
													<% rating_count=0 %>
												<% else %>
													<% average_review=gallery.reviews.average(:rating).round(2) %>
													<% rating_count=gallery.reviews.count %>
												<% end %>
												<div class="average-review-rating" data-score='<%= average_review %>>'></div>
												<% if gallery.reviews.blank? %>
													<div>No rating available</div>
													<% else %>
													<div>Based on <%= rating_count %> ratings</div>
													<% end %>
												<div id="custom-project-title"><%= render gallery.reviews %></div>
												<% if session[:current_user_key] %>
													<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
													<% profile_user_id=gallery.GeneralInfo_id %>
													<!--div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div-->
													<% if current_user.id!= profile_user_id %>
														<% if gallery.reviews.empty? %>
															<div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div>
															<% else %>
																<% if gallery.reviews.collect(&:user_id).include?(current_user.id) %>
																<% else %>
																	<div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div>
																<% end %>
															<% end %>
														<% end %>
													<% end %>

												<% if session[:current_user_key] %>
													<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
													<% profile_user_id=gallery.GeneralInfo_id %>
													<% if current_user.id==profile_user_id %>
														<div class = "delete">
															<%= link_to 'Delete This Project', show_profile_destroy_path(gallery.id), :method => :delete, data: { confirm: "Are you sure to delete?" } %>
														</div>
													<%end %>
												<% end %>

												<!-- NXTFolio : Added in Spring 2023 for tagging feature. -->
												<div class="collaborators">
													<% unless gallery.tagged_users.blank? %>
														<p>Collaborators:</p>
														<% if gallery.tagged_users.length < 2 %>
															<% gallery.tagged_users.each do |user| %>
																<div class="collab"><li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.first_name + " " + user.last_name %></a></li></div>
															<% end %>
														<% else %>
															<% gallery.tagged_users.first(1).each do |user| %>
																<div class="collab"><li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.first_name + " " + user.last_name %></a></li></div>
															<% end %>
															<div class="collab show-more-collab"><li><a href="#">+<%= gallery.tagged_users.length - 1 %> more</a></li></div>
															<% gallery.tagged_users.drop(1).each do |user| %>
																<div class="collab hidden-collab"><li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.first_name + " " + user.last_name %></a></li></div>
															<% end %>
														<% end %>
													<% end %>
													<% if session[:current_user_key] %>
														<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
														<% profile_user_id=gallery.GeneralInfo_id %>
														<% if current_user.id==profile_user_id %>
															<a href="#collaborators-modal-<%= gallery.id %>" class="btn color-3 size-0 hover-9"><h5>Add Collaborators</h5></a>
																<div id="collaborators-modal-<%= gallery.id %>" class="tagModalWindow">
																	<div>
																		<div class="tagModal-elements-container-<%= gallery.id %>">
																			<h5><b>Existing collaborators</b></h5>
																				<% gallery.tagged_users.each do |user| %>
																					<a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><div class="tagModal-element"> <%= user.first_name + " " + user.last_name %> </div></a>
																				<% end %>
																			<% @gallery_tagging = GalleryTagging.new %>
																			<%= form_with(model: [@gallery_tagging], url: create_tagging_gallery_path(gallery.id), local: true, id:"new_gallery_tagging_#{gallery.id}", class: "new_gallery_tagging_form" ) do |form| %>
																				<div class="search-box">
																					<input type="text" id="collab-search-<%= gallery.id %>" placeholder="Search for others..." onkeyup="searchCollaborator(<%= gallery.id %>)">
																					<ul class="all-list-<%= gallery.id %>">
																						<% GeneralInfo.where.not(id: current_user.id).each do |user| %>
																							<li data-user-id="<%= user.id %>" ><%= user.first_name + " " + user.last_name %></li>
																						<% end %>
																					</ul>
																				</div>
																				<br>
																				<%= form.label :invited_email, 'Invite User' %>
																				<%= form.email_field :invited_email %>
																				<%= form.hidden_field id="tagged_user_id" %>
																				<br>
																				<%= form.submit 'Tag' %>
																			<% end %>
																		</div>
																		<div style="margin-top: 10px;">
																			<a href="#ok" title="Ok" class="ok btn color-1 size-2 hover-1">Close</a>
																		</div>
																	</div>
																</div>
														<% end %>	
													<%end %>
												</div>			
											</div>

										<% end %>
										<% end %>
								  </div>
					      </div>
						  </div>
						  </div> 
						</div>
		<% if @gallery_taggings.any? { |gallery_tagging| @general_info && gallery_tagging.general_info_id == @general_info.id } %>
		<div class="container-fluid custom-container">
			<div class="row profile-row">
				<div class="col-md-10 col-md-offset-1">
					<div id="container-mix"  class="row _post-container_">
						<div class="be-post">
							<div class="collaborated-galleries">
							<div class="be-desc-label">Collaborated Galleries</div>
							<% @gallery_taggings.each do |gallery_tagging| %>	
								<% if @general_info && gallery_tagging.general_info_id == @general_info.id%>
									<% tagged_gallery=Gallery.find(gallery_tagging.gallery_id) %>
									<div class="col-md-4">
										<div class="photo photo-type-line">
											<a class="photo-hover" href="<%= gallery_path(tagged_gallery.id) %>">
												<div class="photo-info">
													<div class="headline"> <%= tagged_gallery.gallery_title %> </div>
													<div class="line"></div>
													<div class="desc"> <%= tagged_gallery.gallery_description %> </div>
												</div>
												<div class="mask"></div>
											</a>
											<div class="profile-img-container">
												<a class="be-img-block profile-img img-thumbnail"><img src="<%= tagged_gallery.gallery_picture[0].url %>" alt="omg"></a>
												<div class="mask"></div>
											</div>
										</div>
										<br>
										<% if tagged_gallery.reviews.blank? %>
											<% average_review=0 %>
											<% rating_count=0 %>
										<% else %>
											<% average_review=tagged_gallery.reviews.average(:rating).round(2) %>
											<% rating_count=tagged_gallery.reviews.count %>
										<% end %>
										<div class="average-review-rating" data-score='<%= average_review %>>'></div>
										<% if tagged_gallery.reviews.blank? %>
											<div>No rating available</div>
										<% else %>
											<div>Based on <%= rating_count %> ratings</div>
										<% end %>
										<div id="custom-project-title"><%= render tagged_gallery.reviews %></div>
									</div>
									<% end %>
								<% end %>
								</div>
								
							</div>
							</div>
						</div>	  
				    </div>
            	</div>
				<% end %>
        	
			
    	</div>
	</div>
	<!-- MAIN CONTENT END -->
	<%= render 'shared/footer' %>

	<div class="be-fixed-filter"></div>
	<%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
	<div class="large-popup login">
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="#" class="popup-input-search" method="post">
						<div class="col-md-6">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
							<!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
						</div>
						<div class="col-md-6 form-group">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
							<!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
						</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-6 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- SCRIPT	-->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "jquery-ui.js"%>"></script>
	<script src="<%= asset_path "bootstrap.min.js"%>"></script>		
	<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
	<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
	<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
	<script src="<%= asset_path "jquery.raty.js"%>"></script>
	<script> 
		var element = document.getElementById("messages");
		element.scrollTop = element.scrollHeight;

			/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function dropdown() {
		document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length(); i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');s
			}
			}
		}
		}
	</script>
	<script>
		$('.review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>
	<script>
		$('.average-review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>

	<script>

function searchCollaborator(galleryId) {
var form = document.querySelector("#new_gallery_tagging_"+galleryId);
    var searchInput = document.querySelector("#collab-search-"+ galleryId);
    var searchResults = document.querySelector(".all-list-"+ galleryId);
	var taggedUserIds = [];
	
    searchInput.addEventListener("keyup", function() {   
		//console.log("hello");     
        var filter = searchInput.value.toLowerCase();
		if (filter.length > 0) {
    		searchResults.classList.add("show");
  		} else {
    		searchResults.classList.remove("show");
  		}
        var items = searchResults.getElementsByTagName("li");
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var text = item.textContent || item.innerText;
            if (filter === "" || text.toLowerCase().indexOf(filter) > -1) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        }
    });
	searchResults.addEventListener('click', (event) => {
	const selectedValue = event.target.textContent;
	searchInput.value = selectedValue;
    const selectedId = event.target.getAttribute('data-user-id');
    taggedUserIds.push(selectedId);
	form.querySelector("input[name='gallery_tagging[tagged_user_id]']").value = taggedUserIds.join(",");
	
	});	
}
</script>
<script>
$(document).on('click', '.show-more-collab a', function(e) {
  e.preventDefault();
  $(this).closest('.collaborators').find('.hidden-collab').show();
  $(this).closest('.collab').hide();
});
</script>
	</body>
</html>
