<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<%= render :partial => "/layout/navigation" %>
  
  <!-- Header -->
  <header class="masthead"
          <% if @general_info.cover_picture.url %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; background-size: cover;">
          <% else %>
            style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)); background-size: cover;">
          <% end %>
    <div class="container">
      <div class="row centered">
        <div class="profile-img-container">
          <% if @general_info.profile_picture.url %>
              <img class="profile-img" src="<%= @general_info.profile_picture.url %>" alt="">
          <% else %>
              <img class="profile-img" src="<%= asset_path 'profile.png' %>" alt="">
          <% end %>
        </div>
        <div class="col-lg-12">
          <% if @general_info && @general_info.first_name %>
            <h1><%= @general_info.first_name %>
          <% end %>
          <% if @general_info && @general_info.last_name %>
            <%= @general_info.last_name %></h1>
          <% end %>
	  <h2><%= @job_title%></h2>
          <h3><i class="fa fa-map-marker"></i> <%= @general_info_values[:location] %> </h3>
        </div><!--/.col-lg-12 -->
      </div>
    </div>

    <% if @login_user_true %>
      <div class="row right">
        <div class="col-lg-5 col-lg-offset-7 col-xs-12 edit-btn" align="right">
          <a href="/login_info/edit" class="btn btn-info">Edit Login Info</a>
          <a href="/general_info/edit" class="btn btn-info">Edit General Info</a>
          <a href="/edit_job" class="btn btn-info"><%= "Edit "+ @job_title + " Info" %></a>
          <!-- 
          <a href="/general_info/edit_profession" class="btn btn-info">Edit Occupation</a> -->
          <!--/ %a{:href => "/login_info/delete"} Delete Account
          -->
        </div>
      </div>
    <%  end %>
  </header>

  <section id="about" name="about"></section>
  <div id="intro">
    <div class="container">
      <div class="col-lg-12">
        <h5>ABOUT</h5>
      </div>
      <div class="row">
	</br>
	<div class="col-lg-7 col-lg-offset-1">
	  <p><%= @general_info.bio %></p>
	</div>
	</br>
	<div class="col-lg-12 col-lg-offset-1">
	  <% @attr_titles.each_with_index do |title, index| %>
	    <p><%= title %></p>
	    <p><%= @attr_contents[(":" + index.to_s).to_sym] %></p>
	    </br>
	  <% end %>
  	</div>
	
        <div class="col-lg-6 col-lg-offset-1">
          <p><sm>SOCIAL LINKS</sm></p>
	  <p>
            <% if @general_info && @general_info.facebook_link != "" %>
            <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
            <% end %>

            <% if @general_info && @general_info.linkedIn_link != "" %>
            <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
            <%end%>

          </p>
          <br>
        </div> 
      </div><!--/.row -->


      <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
          <% if @general_info && @general_info.bio =="*##*!(@dummy" %>
            <h5>ABOUT</h5>
            </div>
            <div class="col-lg-6">
              <p><%= @general_info.bio %></p>
            </div>
            <div class="col-lg-3">
              <p><sm>SOCIAL LINKS</sm></p>
              <p>
                <% if @general_info && @general_info.facebook_link == "28231hsh292$" %>
                  <a href="<%= @general_info.facebook_link %>"><i class="fa fa-facebook"></i></a>
                <% end %>

                <% if @general_info && @general_info.linkedIn_link == "238jsdsajhdask" %>
                  <a href="<%= @general_info.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
                <%end%>

              </p>
              <br>
            </div>
          <% else %>
            <p><sm>CONTACT INFORMATION</sm></p>
        </div>
          <div class="col-lg-6">
            <p>
              <% if @login_info && @login_info.email != "" %>
                <a href="mailto:<%= @login_info.email %>"><i class="fa fa-envelope-o"></i></a>
              <% end %>

              <% if @general_info && @general_info.phone != "" %>
                <%= @general_info.phone %>
              <%end%>
            </p>
          </div>
          <% end %>


        </div>

      </div>

    </div><!--/.container -->
  </div><!--/ #intro -->

  <div id="gallery">
    <div class="container">
      <div class="col-md-12">
        <!-- <div class="row"> -->
        <br>
          <div class="gal" id="portfolio">
            <div class="row">
                <% @general_info.gallery_pictures.each do |pic| %>
                  <div class="portfolio-item">
                    <a class="portfolio-link" href="#" data-toggle="modal">
                      <div class="caption">
                        <div class="caption-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                      </div>
                      <img class="img-fluid" src="<%= pic.url %>" alt="">
                    </a>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>
<%= render :partial => "/layout/profile_javascripts" %>
</body>
