= render :partial => "/layout/header"

%body
  = render :partial => "/layout/body"
  #TOPPICTURES
    %img.Cover{:src => "http://i26.tinypic.com/m7yvlu.jpg"}
    %img.Profile{:src => "https://static.gigwise.com/artists/Image/prince200lakers.jpg"}
  #PROFILEINFO
    #PROFILENAME 
      %p
        = @general_info.first_name
        = @general_info.last_name
    #PROFILETEXT 
      %h2 Intro
      %p
        = @general_info.first_name
        = @general_info.last_name
        %br
        %b Birthday:  
        = @general_info.month_ofbirth
        \/
        = @general_info.day_ofbirth
        \/
        = @general_info.year_ofbirth
        %br
        %b Gender:  
        = @general_info.gender
        %br
        %b Location:  
        = @general_info.city + ","
        = @general_info.state + ","
        = @general_info.country
        %br
        %b Gender:  
        = @general_info.gender
        %br
        %b Compensation:  
        = @general_info.compensation
        %br
        %b About Me:  
        = @general_info.bio
      %h3 Links
      %p
        %b Facebook: 
        = @general_info.facebook_link
        %br
        %b LinkedIn: 
        = @general_info.linkedIn_link
        %br
        %b Instagram: 
        = @general_info.instagram_link
        %br
        %b Personal: 
        = @general_info.personalWebsite_link
        
      %h2 Model Specifics
      %p
        %b Height: 
        = @specific_model.height_feet.to_s + " feet "
        = @specific_model.height_inches.to_s + " inches"
        %br
        %b Bust: 
        = @specific_model.bust.to_s + " inches"
        %br
        %b Waist: 
        = @specific_model.waist.to_s + " inches"
        %br
        %b Hips: 
        = @specific_model.hips.to_s + " inches"
        %br
        %b Cup Size: 
        = @specific_model.cups
        %br
        %b Shoe size: 
        = @specific_model.shoe_size
        %br
        %b Dress size: 
        = @specific_model.dress_size
        %br
        %b Hair color: 
        = @specific_model.hair_color
        %br
        %b Eye color: 
        = @specific_model.eye_color
        %br
        %b Ethnicity: 
        = @specific_model.ethnicity
        %br
        %b Skin color: 
        = @specific_model.skin_color
        %br
        %b Do you shoot nudes? 
        = @specific_model.shoot_nudes
        %br
        %b Do you have tattoos? 
        = @specific_model.tattoos
        %br
        %b Do you have piercings? 
        = @specific_model.piercings
        %br
        %b My Experience: 
        = @specific_model.experience
        %br
        %b Genres:
        - @specific_model.genre.split(',').each do |genre|
          = genre + ","
    #PROFILEIMAGES
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17362849_10211223581478861_2645443704418619416_n.jpg?oh=97b2a311b5af84a41cad41a1292ecdc4&oe=595821F5"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17362849_10211223581478861_2645443704418619416_n.jpg?oh=97b2a311b5af84a41cad41a1292ecdc4&oe=595821F5"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/13315638_1194091397289940_213205101156682597_n.jpg?oh=8d25402c186c112d410931f252d5c558&oe=595FCA7E"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17309033_878908615582839_5805955136170506426_n.jpg?oh=0dce9795d6552fdbb7516ba290e1490a&oe=599846D2"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/10013267_10153029891010140_2773967283070369712_n.jpg?oh=703f566c47da09d0482bd09b4d0a120f&oe=59938BA1"}/
      .gallery
        %img{:src => "https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/17155975_10210714249765323_7631817103346325952_n.jpg?oh=53c2f78e3ac184c7bddbaaf19435e7eb&oe=5993FFF2"}/