<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/390013241f.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
		</style>
		
	</head>
	<body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
	

	<!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<header>
		
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="/">
						<img class="logo-c active be_logo"  src="<%= asset_path "new_logo.png"%>" alt="logo">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo2">
						<img  class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo3">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo4">
					</a>
				</div>
				
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<li><a href="/search_profile/search">Search</a>
						</li>
						<% if session[:current_user_key] %>
							<li><a href="/show_profile">My Profile</a></li>
							<% if @on_Own %>
								<li><a href="/general_info/edit">Edit Profile</a>
									<ul>
										<li><a href="/general_info/edit">Edit Personal Info</a></li>
										<% if @attribute_titles && !@is_Admin %>
											<li><a href="/general_info/edit2">Edit Professional Info</a></li>
										<% end %>
										<li><a href="/login_info/edit">Change Password</a></li>
										<% if !@is_Admin %>
											<li><a href="general_info/make_admin/<%=@addUser%>">Make Administrator</a></li>
										<% elsif @is_Admin%>
											<li><a href="/admin">Admin Dashboard</a></li>
										<% end %>
									</ul>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>

                <!--Logout Button Begin -->
                <div class="login-header-block">
                    <div class="login_block">
                        <% if session[:current_user_key] %>
													<div class="dropdown">
													<%if @user.notification %>
														<button onclick="dropdown()" class="dropbtn"><i class="fa-regular fa-bell fa-xl fa-fw" style="color:#147efb"></i></button>
														<div id="myDropdown" class="dropdown-content">
															<% @notifications_from.each do |notification|%>
																<a href="/dm/<%= notification %>"> <b> <%= GeneralInfo.find_by(id: notification).first_name %> <%= GeneralInfo.find_by(id: notification).last_name %> sent you a message! </b> </a>
															<% end %>
													<% else %>
														<button onclick="dropdown()" class="dropbtn"><i class="fa-regular fa-bell fa-xl fa-fw" style="color:black"></i></button>
														<div id="myDropdown" class="dropdown-content">
															<i class="fa-regular fa-circle-check fa-5x" style="color:black;padding:30px"></i>
															<div style="color: black; height: 20px; width: 0px; overflow-wrap: break-word;"> <b> You're all caught up! </b> </div>
															<div style="color: black; height: 20px; width: 0px; overflow-wrap: break-word;"> <b> No new messages. </b> </div>
													<% end %>
														</div>
													</div>
													<a href="/dm" class="dropbtn"><i class="fa-regular fa-message fa-xl fa-fw" style="color:black"></i></a>
													<%= link_to 'Log out', logout_path, method: :get, :class => "btn color-1 size-2 hover-2" %>
                        <% else %>
                        	<%= link_to 'Log in', login_path, method: :post, :class => "btn btn-login color-1 size-2 hover-2" %>
                        <% end %>
                    </div>
                </div>
                <!--Logout Button End-->
    
			</div>
		</div>
		
		</div>
	</header>
	
	
	<!-- MAIN CONTENT -->
	<div id="content-block"
		<% if @general_info.cover_picture.url %>
			style="background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= asset_path @general_info.cover_picture.url %>) no-repeat; margin-bottom:0px; background-size: cover;">
		<% else %>
			>
		<% end %>
		<div class="container be-detail-container">
			<div class="row profile-row">
				<div class="col-xs-12 col-md-6 left-box">
					<div class="be-user-block style-3">
						<div class="be-user-detail">
							<% if @general_info.profile_picture.url %>
								<img class="profile-img img-thumbnail" src="<%= @general_info.profile_picture.url %>" width="150px" height="150px" style="position:absolute;top:10px;left:30px" alt="">
							<% else %>
                                <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>" width="150px" height="150px" style="position:absolute;top:10px;left:30px" alt="">
							<% end %>


							




							<p style="font-size: 16px; margin-top:5px; text-align: left; margin-left: 200px"><label>Name:</label><%= " "+ @general_info.first_name+" " %><%= @general_info.last_name %></p>
							<p style="font-size: 16px; margin-top:5px; text-align: left; margin-left: 200px"><label>Location:</label><%= " "+ @general_info.city+", " %><%= @general_info.state+", " %><%= @general_info.country %></p>
							<p style="font-size: 16px; margin-top:5px; text-align: left; margin-left: 200px"><label>Category:</label><%= " "+ (@general_info[:industry] ? @general_info.industry : "Not defined") %></p>
							<p style="font-size: 16px; margin-top:5px; text-align: left; margin-left: 200px"><label>Professions:</label><%= " "+ @general_info.job_name %></p>

							<br>



							<p style="font-size: 12px; margin-top:0px; text-align: left; margin-left: 30px; margin-bottom: 40px; height: 80px"><%= @general_info.highlights %></p>
							
							<!--<img src="img/ava_10.jpg" alt=""> -->
							
							<div class="be-text-tags style-1 job_title-style">
								<a style="font-size: 20px"><%= @job_title %></a>
							</div>
							<div class="be-user-social">
								<!--% if @general_info && @general_info.facebook_link != "" %-->							
									<a class="social-btn color-1" href=<%= @general_info.facebook_link.blank? ? "#" : @general_info.facebook_link%> target="_blank"><i class="fa fa-facebook"></i></a>
								<!--% end %-->
								<!--% if @general_info && @general_info.linkedIn_link != "" %-->

								<a class="social-btn color-6" href=<%= @general_info.linkedIn_link.blank? ? "#" : @general_info.linkedIn_link%> target="_blank"><i class="fa fa-linkedin"></i></a>
								<!--% end %-->
								<!--% if @login_info && @login_info.email != "" %-->
								<a class="social-btn color-3" href="mailto:<%= @login_info.email %>"><i class="fa fa-envelope"></i></a>
								<!--% end %-->

								<a class="be-user-site" href=<%= @general_info.personalWebsite_link %> target="_blank"><i class="fa fa-link"></i> <%= @general_info.personalWebsite_link %></a>
								<!--% end %-->
								<% if @on_Own %>
									<a class="social-btn color-4" href="/dm"><i class="fa fa-message"></i></a>
								<% else%>
									<a class="social-btn color-4" href="/dm/<%= @general_info.id %>"><i class="fa fa-message"></i></a>
								<% end%>
							</div>

						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 right-box">
					<div class="top-right-box">
				  		<!--% if @general_info && @general_info.bio != "" %-->
							<div class="be-desc-author">
								<div class="be-desc-label">About Me</div>
								<div class="clearfix"></div>
								<div class="be-desc-text">
									<!--Add Bio HERE-->
									<%= @general_info.bio %>
								</div>
							</div>
						<!--% end %-->
					</div>

					<div class="bottom-right-box">
						<!--% if @general_info && @general_info.bio != "" %-->
						<div class="be-desc-author">
							<div class="be-desc-label">Professional Details</div>
							<div class="clearfix"></div>
							<div class="be-desc-text">
								<!--Add Bio HERE-->
								<%=	@general_info.specialization %>
								<%= @general_info.profdetails %>
								<p>Compensation Type: <%=@general_info.compensation%></p>
								<p>Years of Experience: <%=@general_info.experience%></p>
							</div>
						</div>
						<!--% end %-->
					</div>

			  	</div>
			</div>
		</div>
		<div class="container-fluid custom-container">
			<div class="row profile-row">
				<div class="col-md-10 col-md-offset-1">
					<div id="container-mix"  class="row _post-container_">
						<% if @on_Own %>
							<div class="be-desc-label"><a href="/galleries/new">Add Project</a></div>
							<% end %>
								<div class="be-post">
									<div class="be-desc-label">Gallery Pictures</div>
										<% @gallery.present? and @gallery.each do |gallery| %>
										<% if gallery.GeneralInfo_id == @general_info.id %>
											<div class="col-md-4">
												<div class="photo photo-type-line">
													<a class="photo-hover" href="<%= galleries_show_path(:project_key => gallery.id) %>">
														<div class="photo-info">
															<div class="headline"> <%= gallery.gallery_title %> </div>
															<div class="line"></div>
															<div class="desc"> <%= gallery.gallery_description %> </div>
														</div>
														<div class="mask"></div>
													</a>
													<div class="profile-img-container">
														<a class="be-img-block profile-img img-thumbnail">

														<img src="<%= gallery.gallery_picture[0].url %>" alt="omg">
													</a>
														<div class="mask"></div>
									     </div>

											</div>
												<br>
												<% if gallery.reviews.blank? %>
													<% average_review=0 %>
													<% rating_count=0 %>
												<% else %>
													<% average_review=gallery.reviews.average(:rating).round(2) %>
													<% rating_count=gallery.reviews.count %>
												<% end %>

												<div class="average-review-rating" data-score='<%= average_review %>>'>
												</div>
												<% if gallery.reviews.blank? %>
													<div>No rating available</div>
													<% else %>
													<div>Based on <%= rating_count %> ratings</div>
													<% end %>
												<div id="custom-project-title"><%= render gallery.reviews %></div>
												<% if session[:current_user_key] %>
													<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
													<% profile_user_id=gallery.GeneralInfo_id %>
													<div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div>
													<% if current_user.id!= profile_user_id %>
														<% if gallery.reviews.empty? %>
															<div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div>
															<% else %>
																<% if gallery.reviews.collect(&:user_id).include?(current_user.id) %>

																<% else %>
																	<div id="custom-profile-name"><%= link_to "Add Review", new_gallery_review_path(gallery.id) %></div>
																<% end %>
															<% end %>
														<% end %>
													<% end %>

												<% if session[:current_user_key] %>
													<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
													<% profile_user_id=gallery.GeneralInfo_id %>
													<% if current_user.id==profile_user_id %>
																<div class = "delete">
																	<%= link_to 'Delete This Project', show_profile_destroy_path(gallery.id), :method => :delete, data: { confirm: "Are you sure to delete?" } %>
																</div>
														<%end %>
												<% end %>

												<!-- NXTFolio : Added in Spring 2023 for tagging feature. -->
												<div class="collaborators">
												<p>Collaborators:</p>
												<% gallery.tagged_users.each do |user| %><div class="collab"><li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.emailaddr %></a></li></div><% end %>
												<% if session[:current_user_key] %>
													<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
													<% profile_user_id=gallery.GeneralInfo_id %>
													<% if current_user.id==profile_user_id %>
														<% @gallery_tagging = GalleryTagging.new %>
														<%= form_with(model: [@gallery_tagging], url: create_tagging_gallery_path(gallery.id), local: true) do |form| %>
															<%= form.label :tagged_user_id, 'Tag User:' %>
															<%= form.collection_select :tagged_user_id, GeneralInfo.where.not(id: current_user.id), :id, :emailaddr,{}, { multiple: true } %>
															<%= form.submit 'Tag' %>
														<% end %>
   													 <% end %>
												<%end %>
												</div>
												
										</div>

										<% end %>
										<% end %>
								  </div>
					      </div>
				      </div>
            </div>
        	</div>
    	</div>
	
	<!-- MAIN CONTENT END -->
	<%= render 'shared/footer' %>

	<div class="be-fixed-filter"></div>
	<%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
	<div class="large-popup login">
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="#" class="popup-input-search" method="post">
						<div class="col-md-6">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
							<!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
						</div>
						<div class="col-md-6 form-group">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
							<!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
						</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-6 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- SCRIPT	-->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "jquery-ui.js"%>"></script>
	<script src="<%= asset_path "bootstrap.min.js"%>"></script>		
	<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
	<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
	<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
	<script src="<%= asset_path "jquery.raty.js"%>"></script>
	<script> 
		var element = document.getElementById("messages");
		element.scrollTop = element.scrollHeight;

			/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function dropdown() {
		document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length(); i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');s
			}
			}
		}
		}
	</script>
	<script>
		$('.review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>
	<script>
		$('.average-review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>
	</body>
</html>
