<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>
<section  id="specificForm" class="container content-section text-center">

  <div id="SPECIFICFORM">
    <% if !GeneralInfo.check_Job?(@job_title) && @job_title != 'Admin'%>
      <h1>
        <b>Your job field no longer exists!</b>
      </h1>
      <p>Please select the "Edit General Info" button from your profile page.</p>
      </br>
      <p>If you believe you're seeing this in error, please contact an administrator.</p>   
    <% else %>   
      <h1>
        <b><%=@job_title%></b>
      </h1>
      <%= form_for @general_info, :action => 'update', :url => edit_job_update_path do |f| %>
        <%= f.fields_for :job_attr, OpenStruct.new(f.object.job_attr || {}) do |f2| %>
	  <% @attr_titles.each_with_index do |attrName, i|%>
	    <%= f2.label attrName %>
            </br>
	    <%= f2.text_field (i).to_s %>
	    <p></p>
          <% end %>
        <% end %>
        <%= f.submit "Submit" %>
      <% end %>
      <%= button_to 'Cancel', '/show_profile', :method => 'get' %>
    <% end %> 
  </div>
</section>
<%= render :partial => "/layout/javascripts" %>
</body>
<%= render :partial => "/layout/footer" %>
