<h1>Reset Your Password?</h1>

<%= form_for @exusers, :action => 'update', :tok => 'abc', :url => password_reset_edit_path(token: params[:token]) do |form| %>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password,  class: 'form-control', placeholder: 'password' %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control', placeholder: 'password' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset NOW", class: 'btn btn-primary'%>
  </div>

<% end %>