<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
<style>
/* CSS for small screens */
@media (max-width: 560px) {
  .navbar-toggle {
    width: 20%; /* Take half the width */
  }

  .navbar-brand {
    width: 60%; /* Take half the width */
  }

  .navbar-brand img {
    max-width: 100%; /* Ensure the logo scales properly */
  }
}

</style>
</head>
<body>

<!-- THE HEADER -->
<header>
		<nav class="navbar" style="color: black;">
			<div class="container-fluid">
				<div class="navbar-header">
				<a class="navbar-brand col-6" href="/">
					<img class="logo-c active be_logo"  src="<%= asset_path "new_logo.png"%>" alt="logo">
				</a>
				</div>
		</nav>
	</header>





<div class="container">
  <div class="row">
  <h1>Forgot Your Password?</h1>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <h1>Forgot Password?</h1>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <%= form_tag url: password_reset_path do |form| %>
          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, nil,  class: 'form-control', placeholder: 'example@nxtfolio.com',required: true %>
          </div>

          <div class="form-group">
            <%= submit_tag "Reset Password", class: 'btn color-1 size-2 hover-1'%>
          </div>

        <% end %>
    </div>
  </div>
</div>



<! -- Footer-->
<%= render 'shared/footer' %>

</body>
</html>