<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>
<section id="loginForm" class="container content-section text-center">
  <div id="LOGINFORM">
    <h1>
      <b>EDIT LOGIN INFORMATION</b>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    </h1>
    <%= form_for @login_info, :action => 'update', :url => login_info_update_path do |f| %>
      <p></p>
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
      <p></p>
      <%= f.label :password %>
      <br/>
      <%= f.password_field :password %>
      <p></p>
      <%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation %>
      <p class="button"></p>
      <%= f.submit "Commit" %>
    <% end %>
    <%= button_to 'Cancel', '/show_profile', :method => 'get' %>
  </div>
</section>
</body>
<%= render :partial => "/layout/footer" %>