<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>
<br>
<section id="login_section" class="container content-section text-center">
  <div class="section" id="LOGINFORM">
    <h1>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    </h1>
    <%= form_for @login_info, :action => 'login_submit', :url => login_info_login_submit_path do |f| %>
      <p></p>
      <%= f.label :email, "Email" %>
      <br/>
      <%= f.text_field :email %>
      <p></p>
      <%= f.label :password, "Password" %>
      <br/>
      <%= f.password_field :password %>
      <p class="button"></p>
      <%= f.submit "Login", :class => 'btn btn-default' %>
    <% end %>
    <p>
      Don't have an account?
      <a href="/login_info/new">Sign up here!</a>
    </p>
  </div>

</section>
<%= render :partial => "/layout/javascripts" %>
</body>
