<%= render :partial => "/layout/header" %>
<body>


<%= render :partial => "/layout/navigation" %>
<%= render :partial => "/layout/body" %>
<br>
<section id="login_section" class="container content-section text-center">
  <div class="section" id="LOGINFORM">
    <div class="container">
      <h1>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      </h1>
    </div>
    <%= form_for @login_info, :action => 'login_submit', :url => login_info_login_submit_path do |f| %>
      <div class="container">
        <div class="row main">
          <div class="main-center">
            <form class="" method="post" action="#">

              <div class="form-group">
                <%= f.label :email, "Your Email", :class => 'cols-sm-2 control-label' %>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <%= f.text_field :email, :class => 'form-control', :id => 'email', :placeholder => 'Enter your Email' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password, "Password", :class => 'cols-sm-2 control-label' %>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <%= f.password_field :password, :class => 'form-control', :id => 'password', :placeholder => 'Enter your Password' %>
                  </div>
                </div>
              </div>


              <!--Facebook login button-->
              <% unless current_user %>
                  <p class="button"></p>
                  <%= f.submit "Login", :class => 'btn btn-default' %>
                  <p class="button"></p>
                  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path  %>
              <% else %>
                  <p class="button"></p>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <% end %>
              
            </form>

          </div>
        </div>
      </div>

    <% end %>
    <br>
    <p>
      Don't have an account?
      <a href="/login_info/new">Sign up here!</a>
    </p>
  </div>

</section>
<%= render :partial => "/layout/javascripts" %>
</body>
<%= render :partial => "/layout/footer" %>
