%head
  %title Match My Fashion
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


%body
  #CONTENT
    %h1 Sign Up - Login Information
    = form_for @login_info, :url => '/login_info' do |f|
      %p
      = f.label :email
      %br/
      = f.text_field :email
      %p
      = f.label :password
      %br/
      = f.password_field :password
      %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
      %p.button 
      = f.submit "Submit"