- if flash[:notice]
  .notice= flash[:notice]

= render :partial => "/layout/header"

%body
  #LOGINFORM
    %h1 
      %b SIGN UP
    = form_for @login_info, :url => '/login_info' do |f|
      %p
      = f.label :email
      %br/
      = f.text_field :email
      %p
      = f.label :password
      %br/
      = f.password_field :password
      %p
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
      %p.button 
      = f.submit "Submit"