<%= render :partial => "/layout/header" %>
<body>
<%= render :partial => "/layout/navigation" %>
  <%= render :partial => "/layout/body" %>
<section id="generalForm" class="container content-section text-center">
  <div id="GENERALFORM">
    <div id="NOTICE">
      <%= notice %>
    </div>
    <h1>
      <b>GENERAL INFORMATION</b>
    </h1>
    <%= form_for @general_info, :action => 'update_profession', :url => general_info_update_profession_path do |f| %>
      <p></p>
      <%= f.label 'Profession' %>
      <br/>
      <%= f.select :specific_profile_id, options_for_select([["Designer", 1],["Model", 2],["Photographer", 3]]) %>
      <p></p>
      <%= f.submit 'Commit' %>
    <% end %>
    <%= button_to 'Cancel', '/show_profile', :method => 'get' %>
  </div>
</section>
</body>
<%= render :partial => "/layout/footer" %>