<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "notifications.css"%>">

</head>

<body>

<!-- THE HEADER -->
<%= render 'shared/header' %>

<!-- MAIN CONTENT -->
<div id="bckimage">
  <div id="content-block">
    <div class="container be-detail-container">
      <div class="row">
        <%= form_for @general_info, :action => 'update', :url => general_info_update_path do |form| %>
          <div class="col-xs-12 col-md-9 _editor-content_">
            <div class="custom-sec"  data-sec="basic-information">
              <div id="custom-sec" class="be-large-post">
                <div id="custom-sec" class="info-block style-2">
                  <div class="be-large-post-align "><h3 class="info-block-label">Edit Travel Information</h3></div>
                </div>




                <div class="be-large-post-align">
                  <div class="row">
                    <!--name-->

                    <div class="form-label">I will travel to</div>

                    <div class="col-md-4">
                      <div class="form-group"> <label class="changedLabel">Country</label> 
                      <select name="general_info[travel_country]" id="country" data-trigger="" class="countries form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                        <option value="">Select Country</option>
                      </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
        
                    <div class="col-md-4">
                      <div class="form-group"> <label class="changedLabel">State</label> 
                      <select name="general_info[travel_state]" id="state" data-trigger="" class="states form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                        <option value="">Select State</option>
                      </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
                    
                    
        
                    <div class="col-md-4">
                      <div class="col-sm-4">
                      <label for="city">City</label>
                      <%= form.text_field :travel_city, id: "city", class: 'cities form-input', :type => 'text', style: "height: 35px;" %>
                      </div>
                    </div> 

                    <!--this is for adding some margin (space) on the page.-->
                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        
                      </div>
                    </div>
                        
                    <div class="col-md-4">
                      <div class="form-group"> 
                          <label class="changedLabel">Start From</label> 
                          <input type = "date" name="general_info[travel_start]" id="start" style="width: 90%;" tabindex="-1" aria-hidden="true">
                          </input> 
                      </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
                    
                    <div class="col-md-4">
                      <div class="form-group"> 
                          <label class="changedLabel">End on</label> 
                          <input type = "date" name="general_info[travel_end]" id="end" style="width: 90%;" tabindex="-1" aria-hidden="true">
                          </input> 
                      </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
                    

                    <!--this is for adding some margin (space) on the page.-->
                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        
                      </div>
                    </div>



                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        <div class="form-label">Other Details</div>
                        <%= form.text_area :travel_details, id: "travel_details", :class =>'form-input', :maxlength => '200', :rows => '3'%>
                        <span class="pull-right label label-default" id="count_message_details"></span>
                      </div>
                    </div>


                    <!--<div class="input-col col-xs-12 col-sm-10">-->
                    <!--  <div class="form-group focus-2">-->
                    <!--    <div class="form-label">Other Details</div>-->
                    <!--    <%= form.text_area name="travel_details", id: "travel_details", :maxlength => '200', :rows => '3'%>-->
                    <!--    <span class="pull-right label label-default" id="count_message_details"></span>-->
                    <!--  </div>-->
                    <!--</div>-->


                    <div class="input-col col-xs-12 col-sm-12">
                      <div class="be-vidget back-block">
                        <%= form.submit 'SAVE and GO TO PROFILE', :class => 'btn color-9-4 size-1 hover-1',name: "select_one" %>
                        <!--<a class="btn color-1 size-1 hover-1" href="/edit_job_path" method="get"> <i class="fa fa-chevron-right"></i></a>-->
                      </div>
                    </div>


                    <!--gender-->

                  </div>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<! -- Footer-->
<%= render 'shared/footer' %>

<div class="be-fixed-filter"></div>
<!-- SCRIPT	-->
<script src="<%= asset_path "jquery.min.js"%>"></script>
<script src="<%= asset_path "jquery-ui.js"%>"></script>
<script src="<%= asset_path "bootstrap.min.js"%>"></script>
<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
<script src="<%= asset_path "global.js"%>"></script>
<script src="<%= asset_path "location.js"%>"></script>


<script>
  const startDateInput = document.getElementById("start");
  const endDateInput = document.getElementById("end");

  endDateInput.addEventListener('change', () => {
    if (endDateInput.value < startDateInput.value) {
      endDateInput.setCustomValidity("End date cannot be earlier than start date.");
        } else {
          endDateInput.setCustomValidity("");
        }
    
  });
  

</script>


</body>
</html>