<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "profile.css"%>">
</head>

<body>
</body>


<footer>
  <div class="footer-main">
    <div class="container-fluid custom-container">
      <div class="row">
        <div class="col-md-2 col-xl-4">
        </div>
        <div class="col-md-4 col-xl-4">
          <div class="footer-block">
            <img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
            <p>© FashioNXT, 2022</p>p>
            <p><a href="https://fashionxt.com/">FashioNXT</a> hello create innovative fashion experiences and the creative edge in lifestyle technology.</p>
            <ul class="soc_buttons">
              <li id="fb"><a href="https://www.facebook.com/FASHIONXtONLINE/"><i class="fa fa-facebook"></i></a></li>
              <li id="twitter"><a href="https://twitter.com/fashionxtonline"><i class="fa fa-twitter"></i></a></li>
              <li id="pinterest"><a href="https://www.pinterest.com/fashionxtonline/"><i class="fa fa-pinterest"></i></a></li>
              <li id="insta"><a href="https://www.instagram.com/fashionxtonline/"><i class="fa fa-instagram"></i></a></li>
              <li id="linkedin"><a href="https://www.linkedin.com/company/fashionxt/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-xl-2">
          <div class="footer-block">
            <h1 class="footer-title">Useful Links</h1>
            <div class="row footer-list-footer">
              <div class="col-md-6">
                <ul class="link-list">
                  <li><a href="https://fashionxt.com/agency/">About Us</a></li>
                  <li><a href="https://fashionxt.com/contact/">Help</a></li>
                  <li><a href="https://fashionxt.com/contact/">Contacts</a></li>
                  <li><a href="https://www.linkedin.com/company/fashionxt/jobs/">Job</a></li>
                </ul></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-fluid custom-container">
      <div class="col-md-12 footer-end clearfix">
        <div class="left">
          <span class="copy">© 2020. All rights reserved. &nbsp <span class="white"><a href="fashionxt.com"> FashioNXT</a></span></span>
          <span class="created">Created by <span class="white"><a href=""> CodeCreators</a></span></span>
        </div>
      </div>
    </div>
  </div>
</footer>


