<!-- THE HEADER -->
<header>
  <!-- Display flash messages -->
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-warning">
      <%= flash[:error] %>
    </div>
  <% end %>
  <div class="container-fluid custom-container">
    <div class="row no_row row-header">
      
      <!-- This is for the clickable icon on the left up corner in the landing page-->
      <div class="brand-be">
        <a href="/">
          <img class="logo-c active be_logo" src="<%= asset_path "new_logo.png"%>" alt="logo">
        </a>
      </div>
      
      <div class="header-menu-block">
        <ul class="header-menu" id="one">
          <!-- Additional menu items can go here -->
        </ul>
      </div>

      <!-- Login and Sign Up Buttons -->
      <div class="login-header-block">
        <div class="login_block">
          <div class="login_block_rightup">
            <% if session[:current_user_key] %>
              <a href="/dm" class="dropbtn" id="dm"><i class="fa-regular fa-message fa-xl fa-fw" style="color:black"></i></a>
              <a class="btn color-1 size-2 hover-2" href="/show_profile">My Profile</a>
              <%= link_to 'Log out', logout_path, method: :get, class: "btn color-1 size-2 hover-2" %>
            <% else %>
              <a class="btn color-1 size-2 hover-2" href="/login" id="sign_in_up"><i class="fa fa-lock"></i>Sign In</a>
              <a class="btn be-register color-1 size-2 hover-2" href="<%= new_user_registration_path %>"><i class="fa fa-user-plus"></i>Sign Up</a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script> 
  var element = document.getElementById("messages");
  element.scrollTop = element.scrollHeight;

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function dropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>
