<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="container-mix"  class="row _post-container_">


        <div class="be-post branddiv" id="Brand1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Brand Owner" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>


        <div class="be-post othercreatordiv" id="Othercreator1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Other Creator" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post influencerdiv" id="Influencer1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Influencer" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post contentdiv" id="Content1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Content Creator" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post modeldiv" id="Model1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Model" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post salesdiv" id="Sales1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Sales" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post marketingdiv" id="Marketing1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Marketing" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>


        <div class="be-post retaildiv" id="Retail1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Retail" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post visualdiv" id="Visual1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Visual" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post bloggingdiv" id="Blogging1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Blogging" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post financingdiv" id="Financing1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Financing" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post otherservicesdiv" id="Otherservices1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Other Services" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post manufacturingdiv" id="Manufacturing1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Manufacturing" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>


        <div class="be-post materialsdiv" id="Materials1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Materials" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post othermakersdiv" id="Othermakers1">
          <% @users.present? and @users.each do |modinfo| %>
            <% if modinfo.attribute_values[:job_name]=="Other Makers" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if modinfo.profile_picture? %>
                      <img src="<%= modinfo.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => modinfo.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= modinfo.first_name %> <%= modinfo.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.city %> </div>
                        <div class="desc"> <%= modinfo.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= modinfo.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>



        <div class="be-post photographerdiv" id="Photographer1">
          <% @users.present? and @users.each do |info| %>
            <% if info.attribute_values[:job_name]=="Photographer" %>
              <div class="col-md-4">

                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if info.profile_picture? %>
                      <img src="<%= info.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.city %> </div>
                        <div class="desc"> <%= info.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="be-post agentdiv" id="Agent1">
          <% @users.present? and @users.each do |info| %>
            <div class="col-md-4">
              <% if info.attribute_values[:job_name]=="Agent" %>
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if info.profile_picture? %>
                      <img src="<%= info.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.city %> </div>
                        <div class="desc"> <%= info.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="be-post designerdiv" id="Designer1">
          <% @users.present? and @users.each do |info| %>
            <% if info.attribute_values[:job_name]=="Designer" %>
              <div class="col-md-4">
                <a class="be-img-block">
                  <div class="photo photo-type-line">
                    <% if info.profile_picture? %>
                      <img src="<%= info.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.city %> </div>
                        <div class="desc"> <%= info.state %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>


      </div>
    </div>
  </div>
</div>
<script src="<%= asset_path "homepage_logic.js"%>"></script>
