
<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "adv_search.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "profile.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_engine.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
</head>
<body>
<!-- HEADER -->
<%= render 'shared/header' %>

<!-- CONTENT -->
<div class="searchboxcontainer">
  <div class="searchpagesearch">
  <%= form_tag(search_engine_search_path, :method=>'get') do %>
    <div class="searchContainer" id="advsearch">
      <h5 class="mod-1">What are you looking for?</h5>
      <div class="col-md-1">
      </div>
      <div class="col-md-12" >
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input name="Keyword" id="search" type="text" class="form-control input-lg" value="<%= @EnteredKw %>" />
            <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="submit">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
          </div>
        </div>

        <div class="buttongroup-class">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"> <label class="changedLabel">Category</label> <select id="general_info_industry" name="Industry" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                <option placeholder="" value="">Select</option>
                <option>Creators</option>
                <option>Services</option>
                <option>Makers</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->

            <div class="col-md-6">
              <div class="form-group"> <label class="changedLabel">Profession</label> <select id="general_info_job_name" name="Profession" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                <option placeholder="" value="">Select</option>
                <option>Brand Owner</option>
                <option>Designer</option>
                <option>Other Creator</option>
                <option>Model</option>
                <option>Photographer</option>
                <option>Sales</option>
                <option>Marketing</option>
                <option>Retail</option>
                <option>Visual</option>
                <option>Content Creator</option>
                <option>Blogger</option>
                <option>Influencer</option>
                <option>Forecasting</option>
                <option>Finances</option>
                <option>Other Service</option>
                <option>Manufacturing</option>
                <option>Materials</option>
                <option>Other Makers</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->


            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">Country</label> <select name="Country" id="country" data-trigger="" class="countries form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                <option value="">Select Country</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->

            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">State</label> <select name="State" id="state" data-trigger="" class="states form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                <option value="">Select State</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->

            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">City</label> 
                <input type="text" name="City" id="city" class="form-control" style="width: 90%;" tabindex="-1" aria-hidden="true">
              </div> <!-- /.form-group -->
            </div> <!-- /.col -->
          </div>
        </div>


      </div>
    </div>
    </div>
  <% end %>
  </div>

<div class="head-bg-searchresult" style="height:1px">
  <!-- Display Search Result -->
  <% if session[:current_user_key] == nil%>
    <a class="btn full color-1 size-1 hover-1" href="/login" method="get"><i class="fa fa-chevron-left"></i>Login to see the result users</a>
  <%else%>

  <% if @final_users.none? %>

    <div class="divider"><span></span><span>No Results For This </span><span></span></div>

    <div> No matching profiles</div>
    <% recommend_set = []%>

    <% @current_user = GeneralInfo.find_by(userKey: session[:current_user_key])%>
    <%if @current_user != nil%>
    <%city_key = @current_user.city%>
    <%state_key = @current_user.state%>


    <%@same_city_state = GeneralInfo.where(state: state_key, city: city_key)%>
    <%@same_state = GeneralInfo.where(state: state_key)%>

    

    <div class="divider">You May Also Like:

    <%for item in @same_city_state do %>
      <%if item.userKey != @current_user.userKey%>
        <%recommend_set.push(item)%>
      <%end%>
    <%end%>
    
    <%for item in @same_state do %>
      <%if item.userKey != @current_user.userKey and !@same_city_state.include?(item)%>
        <%recommend_set.push(item)%>
      <%end%>
    <%end%>
    
    <% if recommend_set.length() != 0%>
    
    <% for info in recommend_set.each do %>
        <div class="be-post">
          <div class="col-md-4">
            <a class="be-img-block">
              <div class="photo photo-type-line">
                <% if info.profile_picture? %>
                  <img src="<%= info.profile_picture.url %>" alt="omg">
                <% else %>
                  <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                <% end %>
                <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                  <div class="photo-info">
                    <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.city %> </div>
                    <div class="desc"> <%= info.state %> </div>
                    <div class="desc"> <%= info.job_name %> </div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.bio %> </div>
                  </div>
                  <div class="mask"></div>
                </a>
                <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
      <%end%>
    <%end%>
  <% else %>
    <% if @final_users[0].job_name == "Admin"%>
      <div class="divider"><span></span><span>Search Results:</span><span></span></div>
    <%else%>
      <div class="divider"><span></span><span>Search Results: </span><span></span></div>
    <%end%>
  <%end%>
  <%end%>
</div>



<div>
  <div class="container-fluid custom-container">
    <div class="row profile-row">
      <div class="col-md-10 col-md-offset-1">
        <% @current_user = GeneralInfo.find_by(userKey: session[:current_user_key])%>
    <% if @current_user != nil%>

        <%profession_key = @current_user.job_name.downcase%>
        <%city_key = @current_user.city%>
        <%state_key = @current_user.state%>
        <%country_key = @current_user.country%>

        <% results = Hash.new%>
        <% @final_users.present? and @final_users.each do |info| %>
          <%score = 0%>
          <%if info.first_name.downcase == @EnteredKw.downcase || info.last_name.downcase == @EnteredKw.downcase%>
            <%score += 24%>
          <%end%>
          <%if info.job_name.downcase == profession_key%>
            <%score += 12%>
          <%end%>
          <%if info.city == city_key%>
            <% score += 3.5%>
          <%end%>
          <%if info.state == state_key%>
            <% score += 3%>
          <%end%>
          <%if info.country == country_key%>
            <% score += 2.5%>
          <%end%>
          <% gall_number = info.gallery.length()%>
          <% gall_score = 2 * gall_number.to_f / 10%>
          <% if gall_score > 2%>
            <%gall_score = 2%>
          <%end%>
          <% score += gall_score%>
          <%results[info] = score%>
        <% end %>  
        <%sorted_results = results.sort_by { |k, v| -v }.to_h%>

        <% sorted_results.keys.each do |info| %>
        <div class="be-post">
          <div class="col-md-4">
            <a class="be-img-block">
            
              <div class="photo photo-type-line">
                <% if info.profile_picture? %>
                  <img src="<%= info.profile_picture.url %>" alt="omg">
                <% else %>
                  <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                <% end %>
                <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                  <div class="photo-info">
                    <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.city %> </div>
                    <div class="desc"> <%= info.state %> </div>
                    <div class="desc"> <%= info.job_name %> </div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.bio %> </div>
                  </div>
                  <div class="mask"></div>
                </a>
              </div>
              <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
              <div class="desc"> <%= info.city %> </div>
              <div class="desc"> <%= info.state %> </div>
              <div class="desc"> <%= info.job_name %> </div>
            
              
            </a>
          </div>
        </div>
        <% end %>
      <%else %>
        <% if session[:current_user_key] != nil%>
            <% @final_users.present? and @final_users.each do |info| %>
            <div class="be-post">
              <div class="col-md-4">
                <a class="be-img-block">
                
                  <div class="photo photo-type-line">
                    <% if info.profile_picture? %>
                      <img src="<%= info.profile_picture.url %>" alt="omg">
                    <% else %>
                      <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                    <% end %>
                    <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                      <div class="photo-info">
                        <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.city %> </div>
                        <div class="desc"> <%= info.state %> </div>
                        <div class="desc"> <%= info.job_name %> </div>
                        <div class="line"></div>
                        <div class="desc"> <%= info.bio %> </div>
                      </div>
                      <div class="mask"></div>
                    </a>
                  </div>
                  <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                  <div class="desc"> <%= info.city %> </div>
                  <div class="desc"> <%= info.state %> </div>
                  <div class="desc"> <%= info.job_name %> </div>
                </a>
              </div>
            </div>
            <% end %>
          <%end%>
      <%end%>
      </div>
      
    </div>
  </div>
</div>
<!-- FOOTER -->
<%= render 'shared/footer' %>

<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
        {
            searchEnabled: false,
            removeItemButton: true,
            itemSelectText: '',
        });
    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e)
    {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
            deleteAll[i].click();
        }
    });

</script>
<script src="<%= asset_path "professionPicker.js"%>"></script>
<script src="<%= asset_path "jquery.min.js"%>"></script>
<script src="<%= asset_path "jquery-ui.js"%>"></script>
<script src="<%= asset_path "bootstrap.min.js"%>"></script>
<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
<script src="<%= asset_path "global.js"%>"></script>
<script src="<%= asset_path "location.js"%>"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>