<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "adv_search.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "profile.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_engine.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<!-- HEADER -->
<%= render 'shared/header' %>

<!-- CONTENT -->
<div class="searchboxcontainer">
  <div class="searchpagesearch">
  <%= form_tag(search_engine_search_path, :method=>'get') do %>
    <div class="searchContainer" id="advsearch">
      <h5 class="mod-1">What are you looking for?</h5>
      <div class="col-md-1">
      </div>
      <div class="col-md-12" >
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input name="Keyword" id="search" type="text" class="form-control input-lg" value="<%= @EnteredKw %>" />
            <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="submit">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                      </span>
          </div>
        </div>

        <div class="buttongroup-class">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">Industry</label> <select name="Industry" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 70%;" tabindex="-1" aria-hidden="true">
                <option placeholder="" value="">Select</option>
                <option>Creators</option>
                <option>Services</option>
                <option>Makers</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->

            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">Profession</label> <select name="Profession" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 70%;" tabindex="-1" aria-hidden="true">
                <option placeholder="" value="">Select</option>
                <option>Model</option>
                <option>Photographer</option>
                <option>Designer</option>
                <option>Agents</option>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->


            <div class="col-md-4">
              <div class="form-group"> <label class="changedLabel">State</label> <select name="State" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 70%;" tabindex="-1" aria-hidden="true">
                <option placeholder="" value="">Select</option>
                <%= options_for_select(CS.states(:us)) %>
              </select> </div> <!-- /.form-group -->
            </div> <!-- /.col -->
          </div>
        </div>


      </div>
    </div>
    </div>
  <% end %>
  </div>


<div class="head-bg-searchresult">
  <!-- Display Search Result -->
  <div class="divider"><span></span><span>Search Results</span><span></span></div>
  <% if @final_users.none? %>
    No matching profiles
  <% end %>
  <div class="container-fluid custom-container">
    <div class="row profile-row">
      <div class="col-md-10 col-md-offset-1">
        <% @final_users.present? and @final_users.each do |info| %>
        <div class="be-post">
          <div class="col-md-4">
            <a class="be-img-block">
              <div class="photo photo-type-line">
                <% if info.profile_picture? %>
                  <img src="<%= info.profile_picture.url %>" alt="omg">
                <% else %>
                  <img class="profile-img" src="<%= asset_path 'avatar-icon.png' %>">
                <% end %>
                <a class="photo-hover" href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>">
                  <div class="photo-info">
                    <div class="headline"><%= info.first_name %> <%= info.last_name %></div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.city %> </div>
                    <div class="desc"> <%= info.state %> </div>
                    <div class="line"></div>
                    <div class="desc"> <%= info.bio %> </div>
                  </div>
                  <div class="mask"></div>
                </a>
              </div>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>







<!-- FOOTER -->
<!--<%= render 'shared/footer' %>-->

<script src="js/extention/choices.js"></script>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select',
        {
            searchEnabled: false,
            removeItemButton: true,
            itemSelectText: '',
        });
    for (let i = 0; i < customSelects.length; i++)
    {
        customSelects[i].addEventListener('addItem', function(event)
        {
            if (event.detail.value)
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else
            {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e)
    {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
            deleteAll[i].click();
        }
    });

</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>