= render :partial => "/layout/header"


%body
  = render :partial => "/layout/body"
  #SPECIFICFORM
    %h1 
      %b PHOTOGRAPHER INFORMATION
    = form_for @specific_photographer, :action => 'create', :url => '/specific_photographer' do |f|
      %p
      %b= f.label :compensation 
      %br/
      = f.select :compensation, options_for_select(["Any","Assignment Based", "Pay Only"])
      %p
      %b= f.label :experience
      %br/
      = f.select :experience, options_for_select(["0-2 years","3-6 years", "7-10 years", "11+ years"])
      %p
      %b= f.label :influencers
      %br/
      = f.text_area :influencers
      %p
      %b= f.label :specialties
      %br/
      = f.text_area :specialties
      %p
      %b= f.label "Genres (Select all that apply):"
      %br/
      = f.label "Acting" 
      = f.check_box :allgenres, {:multiple => true}, "Acting", nil
      = f.label "Art"
      = f.check_box :allgenres, {:multiple => true}, "Art", nil
      = f.label "Cosplay"
      = f.check_box :allgenres, {:multiple => true}, "Cosplay", nil
      = f.label "Dance"
      = f.check_box :allgenres, {:multiple => true}, "Dance", nil
      = f.label "Editorial"
      = f.check_box :allgenres, {:multiple => true}, "Editorial", nil
      = f.label "Erotic"
      = f.check_box :allgenres, {:multiple => true}, "Erotic", nil
      = f.label "Fashion"
      = f.check_box :allgenres, {:multiple => true}, "Fashion", nil
      %br/
      = f.label "Fetish"
      = f.check_box :allgenres, {:multiple => true}, "Fetish", nil
      = f.label "Fitness"
      = f.check_box :allgenres, {:multiple => true}, "Fitness", nil
      = f.label "Glamour"
      = f.check_box :allgenres, {:multiple => true}, "Glamour", nil
      = f.label "Hair/Makeup"
      = f.check_box :allgenres, {:multiple => true}, "Hair/Makeup", nil
      = f.label "Lifestyle"
      = f.check_box :allgenres, {:multiple => true}, "Lifestyle", nil
      = f.label "Lingerie"
      = f.check_box :allgenres, {:multiple => true}, "Lingerie", nil
      %br/
      = f.label "Parts Modeling"
      = f.check_box :allgenres, {:multiple => true}, "Parts Modeling", nil
      = f.label "Performance Artist"
      = f.check_box :allgenres, {:multiple => true}, "Performance Artist", nil
      = f.label "Pinup"
      = f.check_box :allgenres, {:multiple => true}, "Pinup", nil
      = f.label "Promotional Modeling"
      = f.check_box :allgenres, {:multiple => true}, "Promotional Modeling", nil
      = f.label "Maternal"
      = f.check_box :allgenres, {:multiple => true}, "Maternal", nil
      %br/
      = f.label "Runway"
      = f.check_box :allgenres, {:multiple => true}, "Runway", nil
      = f.label "Spokesperson/Host"
      = f.check_box :allgenres, {:multiple => true}, "Spokesperson/Host", nil
      = f.label "Sports"
      = f.check_box :allgenres, {:multiple => true}, "Sports", nil
      = f.label "Stunt"
      = f.check_box :allgenres, {:multiple => true}, "Stunt", nil
      = f.label "Swimwear"
      = f.check_box :allgenres, {:multiple => true}, "Swimwear", nil
      = f.label "Underwater"
      = f.check_box :allgenres, {:multiple => true}, "Underwater", nil
      %p
      %p.button 
      = f.submit "Submit"