<!DOCTYPE html>
<html>
<head>
  <title>FashioNXT</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
  <link rel="stylesheet" href="<%= asset_path "icon.css"%>">
  <link rel="stylesheet" href="<%= asset_path "loader.css"%>">
  <link rel="stylesheet" href="<%= asset_path "search_button.css"%>">
  <link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
  <link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
<style>
/* CSS for small screens */
@media (max-width: 560px) {
  .navbar-toggle {
    width: 20%; /* Take half the width */
  }

  .navbar-brand {
    width: 60%; /* Take half the width */
  }

  .navbar-brand img {
    max-width: 100%; /* Ensure the logo scales properly */
  }
}

</style>
</head>

<body>

<!-- THE HEADER -->
<header>
		<nav class="navbar" style="color: black;">
			<div class="container-fluid">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle col-6" data-toggle="collapse" data-target="#myNavbar"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand col-6" href="/">
					<img class="logo-c active be_logo"  src="<%= asset_path "new_logo.png"%>" alt="logo">
				</a>
				</div>
				<!-- Main Buttons -->
				<div class="collapse navbar-collapse" id="myNavbar">
        <% if session[:current_user_key] %>
				<ul class="nav navbar-nav">
          <li><a href="/job_info">Manage Job</a></li>
          <li><a href="/job_info/new_job">Post Job</a></li>
					<li><a href="/general_info/edit_travel">Travel</a></li>
          <% if @on_Own %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit Profile
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/general_info/edit">Edit Personal Info</a></li>
							<% if @attribute_titles && !@is_Admin %>
								<li><a href="/general_info/edit2">Edit Professional Info</a></li>
							<% end %>
								<li><a href="/login_info/edit">Change Password</a></li>
							<% if !@is_Admin %>
								<li><a href="general_info/make_admin/<%=@addUser%>">Make Administrator</a></li>
							<% elsif @is_Admin%>
								<li><a href="/admin">Admin Dashboard</a></li>
							<% end %>
						</ul>
					</li>
          <% end %>
					<li class="active"><a href="/show_profile">My Profile</a></li>
					<li><a href="/search_engine/show">Search</a></li>
					<li><a href="/chat">AI Chatbot</a></li>
          <% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<% if session[:current_user_key] %>
					<!-- Notifications Dropdown -->
					<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="notificationsDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
						<% if @user && @user.notification %>
						<i class="fa-regular fa-bell fa-xl" style="color:#147efb"></i>
						<% else %>
						<i class="fa-regular fa-bell fa-xl" style="color:black"></i>
						<% end %>
					</a>
					<ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
						<% if @user && @user.notification %>
						<% @notifications_from.each do |notification| %>
							<li><a class="dropdown-item" href="/dm/<%= notification %>">
							<b><%= GeneralInfo.find_by(id: notification).first_name %> <%= GeneralInfo.find_by(id: notification).last_name %> sent you a message!</b>
							</a></li>
						<% end %>
						<% else %>
						<li class="dropdown-item text-center">
							<i class="fa-regular fa-circle-check fa-5x" style="color:black; padding:30px;"></i>
							<div style="color: black; height: 20px;"><b>You're all caught up!</b></div>
							<div style="color: black; height: 20px;"><b>No new messages.</b></div>
						</li>
						<% end %>
					</ul>
					</li>

					<!-- Direct Messages Button -->
					<li class="nav-item">
					<a href="/dm" class="nav-link" id="dm">
						<i class="fa-regular fa-message fa-xl" style="color:black"></i>
					</a>
					</li>

					<!-- Log Out Button -->
					<li class="nav-item">
					<%= link_to logout_path, method: :get, class: "nav-link" do %>
						<span class="glyphicon glyphicon-log-out"></span> Log out
					<% end %>
					</li>
				<% else %>
					<!-- Log In Button -->
					<li class="nav-item">
					<%= link_to login_path, method: :get, class: "nav-link" do %>
						<span class="glyphicon glyphicon-log-in"></span> Sign In
					<% end %>
          <!-- Sign Up Button -->
					<li class="nav-item">
					<%= link_to new_user_registration_path, method: :get, class: "nav-link" do %>
						<span class="fa fa-user-plus"></span> Sign Up
					<% end %>
					</li>
				<% end %>
				</ul>

				</div>
			</div>
		</nav>
	</header>

<!-- MAIN CONTENT -->
<div id="bckimage">
  <div id="content-block">
    <div class="container be-detail-container">
      <div class="row">
        <%= form_for @job_info, method: :post, :url => job_info_post_job_path do |form| %>
          <div class="col-xs-12 col-md-9 _editor-content_">
            <div class="custom-sec"  data-sec="basic-information">
              <div id="custom-sec" class="be-large-post">
                <div id="custom-sec" class="info-block style-2">
                  <div class="be-large-post-align "><h3 class="info-block-label">Job Posting Form</h3></div>
                </div>


                

                <div class="be-large-post-align">
                  <div class="row">
                    <!--name-->

                    

                    <div class="input-col col-xs-12 col-sm-10">
                        <div class="form-group focus-2">
                        <div class="form-label">Job Title</div>
                        <%= form.text_area :title, id: "title", :class =>'form-input1', :maxlength => '200', :rows => '1'%>
                        
                        </div>
                    </div>


                    <div class="input-col col-xs-12 col-sm-10">
                        <div class="form-group focus-2">
                            <div class="form-label">Job Description</div>
                            <%= form.text_area :description, id: "description", :class =>'form-input', :maxlength => '200', :rows => '3'%>
                            
                        </div>
                    </div>

             
                    <div>
                        
                    </div>

                    <div class="col-md-6">
                        <div class="form-group"> <label class="changedLabel">Category</label> <select id='job_info_category' name="category" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 80%;" tabindex="-1" aria-hidden="true">
                            <option placeholder="" value="">Select</option>
                            <option>Creators</option>
                            <option>Services</option>
                            <option>Makers</option>
                        </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->



                    <div class="col-md-6">
                        <div class="form-group"> <label class="changedLabel">Profession</label> <select id="job_info_profession" name="profession" data-trigger="" class="form-control select2 select2-hidden-accessible" style="width: 80%;" tabindex="-1" aria-hidden="true">
                            <option placeholder="" value="">Select</option>
                            <option>Brand Owner</option>
                            <option>Designer</option>
                            <option>Other Creator</option>
                            <option>Model</option>
                            <option>Photographer</option>
                            <option>Sales</option>
                            <option>Marketing</option>
                            <option>Retail</option>
                            <option>Visual</option>
                            <option>Content Creator</option>
                            <option>Blogger</option>
                            <option>Influencer</option>
                            <option>Forecasting</option>
                            <option>Finances</option>
                            <option>Other Service</option>
                            <option>Manufacturing</option>
                            <option>Materials</option>
                            <option>Other Makers</option>
                        </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->


                    <!--this is for adding some margin (space) on the page.-->
                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        
                      </div>
                    </div>


                    <div class="col-md-4">
                      <div class="form-group"> <label class="changedLabel">Country</label> 
                      <select name="job_info[country]" id="country" data-trigger="" class="countries form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                        <option value="">Select Country</option>
                      </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
        
                    <div class="col-md-4">
                      <div class="form-group"> <label class="changedLabel">State</label> 
                      <select name="job_info[state]" id="state" data-trigger="" class="states form-control select2 select2-hidden-accessible" style="width: 90%;" tabindex="-1" aria-hidden="true">
                        <option value="">Select State</option>
                      </select> </div> <!-- /.form-group -->
                    </div> <!-- /.col -->
                    
                    
        
                    <div class="col-md-4">
                      <div class="col-sm-4">
                      <label for="city">City</label>
                      <%= form.text_field :city, id: "city", class: 'cities form-input', :type => 'text', style: "height: 35px;" %>
                      </div>
                    </div> 

                    <!--this is for adding some margin (space) on the page.-->
                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        
                      </div>
                    </div>
                    

                    


                    <div class="input-col col-xs-12 col-sm-10">
                        <div class="form-group focus-2">
                        <div class="form-label">Salary Range (Annual)</div>
                        </div>
                    </div>


                   
                    <div class="col-md-6">

                    <div class="input-col col-xs-12 col-sm-10">
                        <div class="form-group focus-2">
                        <div class="form-label">Lowest</div>
                        
                        <input type = "number" name="job_info[low_salary]" id="low_salary" data-trigger="" >
                        </div>
                    </div>

                    </div>

                    <div class="col-md-6">

                    <div class="input-col col-xs-12 col-sm-10">
                        <div class="form-group focus-2">
                        <div class="form-label">Highest</div>
                        
                        <input type = "number" name="job_info[high_salary]" id="high_salary" data-trigger="" >
                        </div>
                    </div>

                    </div>


                    <!--this is for adding some margin (space) on the page.-->
                    <div class="input-col col-xs-12 col-sm-10">
                      <div class="form-group focus-2">
                        
                      </div>
                    </div>
                    


                    <div class="input-col col-xs-12 col-sm-12">
                      <div class="be-vidget back-block">
                        <%= form.submit 'SAVE and Post Job', :class => 'btn color-9-4 size-1 hover-1',name: "select_one" %>
                        <!--<a class="btn color-1 size-1 hover-1" href="/edit_job_path" method="get"> <i class="fa fa-chevron-right"></i></a>-->
                      </div>
                    </div>

                   

                    <!--gender-->

                  </div>
                </div>


                

              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<! -- Footer-->
<%= render 'shared/footer' %>

<div class="be-fixed-filter"></div>
<!-- SCRIPT	-->
<script src="<%= asset_path "jquery.min.js"%>"></script>
<script src="<%= asset_path "jquery-ui.js"%>"></script>
<script src="<%= asset_path "bootstrap.min.js"%>"></script>
<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
<script src="<%= asset_path "global.js"%>"></script>
<script src="<%= asset_path "location.js"%>"></script>



</body>
</html>