<!--  app/views/job_info/show.html.erb -->
<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/390013241f.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
		<link rel="stylesheet" href="<%= asset_path "collaborators.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
		</style>
		<style>
/* CSS for small screens */
@media (max-width: 560px) {
  .navbar-toggle {
    width: 20%; /* Take half the width */
  }

  .navbar-brand {
    width: 60%; /* Take half the width */
  }

  .navbar-brand img {
    max-width: 100%; /* Ensure the logo scales properly */
  }
}

</style>
	</head>
	<body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
	

	<!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<header>
		<nav class="navbar" style="color: black;">
			<div class="container-fluid">
				<div class="navbar-header">
				<button type="button" class="navbar-toggle col-6" data-toggle="collapse" data-target="#myNavbar"> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand col-6" href="/">
					<img class="logo-c active be_logo"  src="<%= asset_path "new_logo.png"%>" alt="logo">
				</a>
				</div>
				<!-- Main Buttons -->
				<div class="collapse navbar-collapse" id="myNavbar">
        <% if session[:current_user_key] %>
				<ul class="nav navbar-nav">
          <li><a href="/job_info">Manage Job</a></li>
          <li><a href="/job_info/new_job">Post Job</a></li>
					<li><a href="/general_info/edit_travel">Travel</a></li>
          <% if @on_Own %>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit Profile
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/general_info/edit">Edit Personal Info</a></li>
							<% if @attribute_titles && !@is_Admin %>
								<li><a href="/general_info/edit2">Edit Professional Info</a></li>
							<% end %>
								<li><a href="/login_info/edit">Change Password</a></li>
							<% if !@is_Admin %>
								<li><a href="general_info/make_admin/<%=@addUser%>">Make Administrator</a></li>
							<% elsif @is_Admin%>
								<li><a href="/admin">Admin Dashboard</a></li>
							<% end %>
						</ul>
					</li>
          <% end %>
					<li class="active"><a href="/show_profile">My Profile</a></li>
					<li><a href="/search_engine/show">Search</a></li>
					<li><a href="/chat">AI Chatbot</a></li>
          <% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<% if session[:current_user_key] %>
					<!-- Notifications Dropdown -->
					<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" id="notificationsDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
						<% if @user && @user.notification %>
						<i class="fa-regular fa-bell fa-xl" style="color:#147efb"></i>
						<% else %>
						<i class="fa-regular fa-bell fa-xl" style="color:black"></i>
						<% end %>
					</a>
					<ul class="dropdown-menu" aria-labelledby="notificationsDropdown">
						<% if @user && @user.notification %>
						<% @notifications_from.each do |notification| %>
							<li><a class="dropdown-item" href="/dm/<%= notification %>">
							<b><%= GeneralInfo.find_by(id: notification).first_name %> <%= GeneralInfo.find_by(id: notification).last_name %> sent you a message!</b>
							</a></li>
						<% end %>
						<% else %>
						<li class="dropdown-item text-center">
							<i class="fa-regular fa-circle-check fa-5x" style="color:black; padding:30px;"></i>
							<div style="color: black; height: 20px;"><b>You're all caught up!</b></div>
							<div style="color: black; height: 20px;"><b>No new messages.</b></div>
						</li>
						<% end %>
					</ul>
					</li>

					<!-- Direct Messages Button -->
					<li class="nav-item">
					<a href="/dm" class="nav-link" id="dm">
						<i class="fa-regular fa-message fa-xl" style="color:black"></i>
					</a>
					</li>

					<!-- Log Out Button -->
					<li class="nav-item">
					<%= link_to logout_path, method: :get, class: "nav-link" do %>
						<span class="glyphicon glyphicon-log-out"></span> Log out
					<% end %>
					</li>
				<% else %>
					<!-- Log In Button -->
					<li class="nav-item">
					<%= link_to login_path, method: :get, class: "nav-link" do %>
						<span class="glyphicon glyphicon-log-in"></span> Sign In
					<% end %>
          <!-- Sign Up Button -->
					<li class="nav-item">
					<%= link_to new_user_registration_path, method: :get, class: "nav-link" do %>
						<span class="fa fa-user-plus"></span> Sign Up
					<% end %>
					</li>
				<% end %>
				</ul>

				</div>
			</div>
		</nav>
	</header>
	
	
	<!-- MAIN CONTENT -->
	<div id="content-block"
		
		<div class="container be-detail-container">
			
				
				<div class="col-xs-12 col-md-6 right-box">
					

          <h2>Job Details</h2>
          

          

						

              <div class="be-desc-author">
                <div class="be-desc-label">Job Title: <%=@job_info.title%></div>
                <div class="clearfix"></div>
                <div class="be-user-detail">
                  
                  <p>Description: <%=@job_info.description%></p>
                  <p>Category: <%=@job_info.category%></p>
                  <p>Profession: <%=@job_info.profession%></p>
                  <p>Location: <%=@job_info.country%>, <%=@job_info.state%>, <%=@job_info.city%></p>
                  <p>Salary (Annual): <%=@job_info.low_salary%> ~ <%=@job_info.high_salary%></p>
				  
                  
				  
                </div>

                <div class="row">
                  <%= link_to 'Edit', edit_job_info_path(@job_info), :class => 'btn btn-primary col-2' %>
                  <%= link_to 'Delete', del_job_info_path(@job_info), 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
                  <%= link_to 'Back to jobs list', "/job_info", :class => 'btn btn-primary col-2' %>
                </div>

              </div>

           

            
					
          

					

			  	</div>
			
		</div>
		<div class="container-fluid custom-container">
			<div class="row profile-row">
				<div class="col-md-10 col-md-offset-1">
					<div id="container-mix"  class="row _post-container_">
						
        	
			
    	</div>
	</div>
	<!-- MAIN CONTENT END -->
	<%= render 'shared/footer' %>

	<div class="be-fixed-filter"></div>
	<%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
	<div class="large-popup login">
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="#" class="popup-input-search" method="post">
						<div class="col-md-6">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
							<!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
						</div>
						<div class="col-md-6 form-group">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
							<!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
						</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-6 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- SCRIPT	-->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "jquery-ui.js"%>"></script>
	<script src="<%= asset_path "bootstrap.min.js"%>"></script>		
	<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
	<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
	<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
	<script src="<%= asset_path "jquery.raty.js"%>"></script>
	<script> 
		var element = document.getElementById("messages");
		element.scrollTop = element.scrollHeight;

			/* When the user clicks on the button,
		toggle between hiding and showing the dropdown content */
		function dropdown() {
		document.getElementById("myDropdown").classList.toggle("show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		if (!event.target.matches('.dropbtn')) {
			var dropdowns = document.getElementsByClassName("dropdown-content");
			var i;
			for (i = 0; i < dropdowns.length(); i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');s
			}
			}
		}
		}
	</script>
	<script>
		$('.review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>
	<script>
		$('.average-review-rating').raty({
			readOnly:true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>

	<script>

function searchCollaborator(galleryId) {
var form = document.querySelector("#new_gallery_tagging_"+galleryId);
    var searchInput = document.querySelector("#collab-search-"+ galleryId);
    var searchResults = document.querySelector(".all-list-"+ galleryId);
	var taggedUserIds = [];
	
    searchInput.addEventListener("keyup", function() {   
		//console.log("hello");     
        var filter = searchInput.value.toLowerCase();
		if (filter.length > 0) {
    		searchResults.classList.add("show");
  		} else {
    		searchResults.classList.remove("show");
  		}
        var items = searchResults.getElementsByTagName("li");
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var text = item.textContent || item.innerText;
            if (filter === "" || text.toLowerCase().indexOf(filter) > -1) {
                item.style.display = "";
            } else {
                item.style.display = "none";
            }
        }
    });
	searchResults.addEventListener('click', (event) => {
	const selectedValue = event.target.textContent;
	searchInput.value = selectedValue;
    const selectedId = event.target.getAttribute('data-user-id');
    taggedUserIds.push(selectedId);
	form.querySelector("input[name='gallery_tagging[tagged_user_id]']").value = taggedUserIds.join(",");
	
	});	
}
</script>
<script>
$(document).on('click', '.show-more-collab a', function(e) {
  e.preventDefault();
  $(this).closest('.collaborators').find('.hidden-collab').show();
  $(this).closest('.collab').hide();
});
</script>
	</body>
</html>