<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
    <link rel="stylesheet" href="<%= asset_path "profile.css"%>">
	</head>

    <body>
	<!-- THE LOADER -->
	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>

	<!-- THE HEADER -->
	<%= render 'shared/header' %>

    <!-- MAIN CONTENT -->
    

    <!-- SCRIPTS	 -->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
    </body>
</html>