<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
		</style>
		
	</head>
  <body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
  <!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>

    
    <!-- Main Content -->
    <div class = "container be-detail-container">
      <h2> <%= @gallery.gallery_title %> </h2>

      
    </div>

    <div class = "container be-detail-container">
      <h3> Description: </h3>
      <p> <%= @gallery.gallery_description %> </p>

<!--NXTFolio : Added in Spring 2023 for tagging feature.-->
<h3>Collaborators:</h3>
<ul>
<% @gallery.tagged_users.each do |user| %>
  <li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.emailaddr %></a></li>
<% end %>
</ul>
<% if session[:current_user_key] %>
		<% current_user=GeneralInfo.find_by(userKey: session[:current_user_key]) %>
		<% profile_user_id=@gallery.GeneralInfo_id %>
		<% if current_user.id==profile_user_id %>
      <%= form_with(model: [@gallery, @gallery_tagging], url: create_tagging_gallery_path(@gallery.id), local: true) do |form| %>
        <%= form.label :tagged_user_id, 'Tag User:' %>
        <%= form.collection_select :tagged_user_id, GeneralInfo.where.not(id: current_user.id), :id, :emailaddr,{}, { multiple: true } %>
        <%= form.submit 'Tag' %>
      <% end %>
    <% end %>
<% end %>

      <h3> All Images: </h3>
    </div>

    <div class="container-fluid custom-container">
            <div class="row profile-row">
                <div class="col-md-10 col-md-offset-1">
                    <div id="container-mix"  class="row _post-container_">
                        <div class="be-post">
                            <% @gallery.gallery_picture.each do |image| %>
                                <div class="col-md-3">
                                  <div class="photo photo-type-line">
                                  <div class="profile-img-container">
                                  <a class="be-img-block profile-img img-thumbnail">
                                    <img src="<%= image.url %>" alt="omg">
																		
																		<%= link_to 'View Image', image_path(image), method: :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
                          
                                  </a>
                                  </div>
                                  </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%= link_to 'Add Another Gallary', 'new' %>
    <a class="btn full color-1 size-1 hover-1" href="/show_profile" method="get"><i class="fa fa-chevron-left"></i>Back</a>
    
    <!-- MAIN CONTENT END -->
    <footer>	
      <div class="footer-main">
        <div class="container-fluid custom-container">
          <div class="row">	
            <div class="col-md-3 col-xl-4">
              <div class="footer-block">
                <h1 class="footer-title">About Us</h1>
                <p><a href="https://fashionxt.com/">FashioNXT</a> creates innovative fashion experiences and the creative edge in lifestyle technology.</p>
                <ul class="soc_buttons">
                                      <li id="fb"><a href="https://www.facebook.com/FASHIONXtONLINE/"><i class="fa fa-facebook"></i></a></li>
                                      <li id="twitter"><a href="https://twitter.com/fashionxtonline"><i class="fa fa-twitter"></i></a></li>
                                      <li id="pinterest"><a href="https://www.pinterest.com/fashionxtonline/"><i class="fa fa-pinterest"></i></a></li>
                                      <li id="insta"><a href="https://www.instagram.com/fashionxtonline/"><i class="fa fa-instagram"></i></a></li>
                                      <li id="linkedin"><a href="https://www.linkedin.com/company/fashionxt/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-xl-2">
              <div class="footer-block">
                <h1 class="footer-title">Some Links</h1>
                <div class="row footer-list-footer">
                <div class="col-md-6">
                <ul class="link-list">
                                  <li><a href="https://fashionxt.com/agency/">About Us</a></li>
                                  <li><a href="https://fashionxt.com/contact/">Help</a></li>
                                  <li><a href="https://fashionxt.com/contact/">Contacts</a></li>
                                  <li><a href="https://www.linkedin.com/company/fashionxt/jobs/">Job</a></li>
                </ul></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container-fluid custom-container">
          <div class="col-md-12 footer-end clearfix">
            <div class="left">
                          <span class="copy">© 2018. All rights reserved. <span class="white"><a href="fashionxt.com"> &nbsp FashioNXT</a></span></span>
                          <span class="created">Created by <span class="white"><a href=""> CodeCreators</a></span></span>
            </div>
          </div>			
        </div>
      </div>		
    </footer>

    <!-- SCRIPT	-->
    <script src="<%= asset_path "jquery.min.js"%>"></script>
    <script src="<%= asset_path "jquery-ui.js"%>"></script>
    <script src="<%= asset_path "bootstrap.min.js"%>"></script>		
    <script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
    <script src="<%= asset_path "jquery.mixitup.js"%>"></script>
    <script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
    <script src="<%= asset_path "global.js"%>"></script>
	</body>
</html>

