<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<style>
			.big{
				font-size: 25px;
			}
		</style>
		
	</head>
  <body data-spy="scroll" data-target="blog-detail-2.htmlscrollspy">
    <!-- THE LOADER -->

    <div class="be-loader">
        <div class="spinner">
        <img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
        <p class="circle">
          <span class="ouro">
            <span class="left"><span class="anim"></span></span>
            <span class="right"><span class="anim"></span></span>
          </span>
        </p>
      </div>
    </div>

    <div class="large-popup-fixed"></div>
    <% if flash[:notice] %>
      <div class="alert-container col-md-12">
      <div class="alert style-3 alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= flash[:notice]%></strong>
      </div>
      </div>
    <% elsif flash[:success] %>
      <div class="alert-container col-md-12">
      <div class="alert style-3 alert-dismissible" style="background-color: rgba(4, 199, 4, 0.2);">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= flash[:success]%></strong>
      </div>
      </div>
    <% elsif flash[:error] %>
      <div class="alert-container col-md-12">
      <div class="alert style-3 alert-dismissible" style="background-color: rgba(255, 0, 0, 0.2);">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong><%= flash[:error]%></strong>
      </div>
      </div>
    <% end %>
      
      <!-- Main Content -->
    <div class="container float-left">
      <div class = "container be-detail-container float-left">
        <h2> <%= @gallery.gallery_title %> </h2>
        <%if GeneralInfo.find(@gallery.GeneralInfo_id).userKey == session[:current_user_key]%>
          <%= link_to 'Edit This Project', edit_gallery_path(@gallery.id)%>
          <br>
          <%= link_to 'Delete This Project', show_profile_destroy_path(@gallery.id), :method => :delete, data: { confirm: "Are you sure to delete?" } %>
        <%end%>
      </div>
    <div class = "container be-detail-container float-left">
        <h3> Description: </h3>
        <p> <%= @gallery.gallery_description %> </p>


        <!--NXTFolio : Added in Spring 2023 for tagging feature.-->
        <% owner = GeneralInfo.find(@gallery.GeneralInfo_id)%>
        <div class="collaborators">
          <h3>Collaborators:</h3>
          <ul>
            <% @gallery.tagged_users.each do |user| %>
              <div class="collab"><li><a href="<%= show_profile_show_profile_path(:user_key => user.userKey) %>"><%= user.first_name + " " + user.last_name %></a></li></div>
            <% end %>
          </ul>
        </div>
    </div>
    </div>
    <div class="container-fluid custom-container">
        <div class="row profile-row">
            <div class="col-md-10 col-md-offset-1">
                <div id="container-mix"  class="row _post-container_">
                  <h3> All Images: </h3>
                    <div class="be-post row">
                      <% @gallery.gallery_picture.each do |image| %>
                        <div class="col-sm-6 col-md-4">
                            <div class="profile-img-container">
                              <a class="be-img-block profile-img img-thumbnail" href="#">
                                <%= image_tag image.url %>
                                <%idx = @gallery.gallery_picture.index(image)%>
                              </a>
                            </div>                    
                        </div>
                      <% end %>
                      <%# <div class="col-md-3">
                      </div> %>      
                </div>
                </div>
            </div>
        </div>
    <div class="row">
          
    </div>
    <br>
    <div class="custom-container">
      <h2> Tags: </h2>
      <br>
      <ul>
        <% @gallery.tags.each do |tag| %>
          <li style = "border: 1px solid black; display: inline-block;">
            <%= tag.body %>
          </li>
        <% end %>
      </ul>
    </div>                    
    <br>
    <br>
    <div class="custom-container">
      <h2> Comments: </h2>
      <br>
      <% @gallery.comments.each do |comment| %>
        <div class="comment">
          <div class="comment_by">
            <%= comment.comment_by%>
          </div>
          <div class="comment_body">
            <%= comment.body %>
          </div>
        </div>
      <% end %>
    </div>

  <br>

  <%# Fall 2023: Piyush Sharan, adding comments to Gallery %>
  <% if ((owner && owner.userKey == session[:current_user_key]) || (@collab_count && @collab_count >= 3)) %>
    <%= link_to 'Enter a comment', gallery_add_comment_path(@gallery), class: 'btn btn-success' %>
    
  <%end%>
  <%# Adding Comments to Gallery %>

  <%# Winter 2024: Sai Chandhrasekhar, adding tags to gallery %>
  <% if owner && owner.userKey == session[:current_user_key] %>
    <%= link_to 'Add tag', gallery_add_tag_path(@gallery), class: 'btn btn-success' %>
  <%end%>

  <% if owner.userKey == session[:current_user_key] %>
      <div class="be-desc-label"><a href="/galleries/new">Add a new gallery</a></div>
    <%end%>
          </div>
    <% owner = GeneralInfo.find(@gallery.GeneralInfo_id)%>
    <% if owner.userKey != session[:current_user_key] %>
      <a class="btn full color-1 size-1 hover-1" href="<%= show_profile_show_profile_path(:user_key => owner.userKey) %>" method="get"><i class="fa fa-chevron-left"></i>See project owner's profile </a>
    <%end%>
    <a class="btn full color-1 size-1 hover-1" href="/show_profile" method="get"><i class="fa fa-chevron-left"></i>Back</a>
    <!-- SCRIPT	-->
    <script src="<%= asset_path "jquery.min.js"%>"></script>
    <script src="<%= asset_path "jquery-ui.js"%>"></script>
    <script src="<%= asset_path "bootstrap.min.js"%>"></script>		
    <script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
    <script src="<%= asset_path "jquery.mixitup.js"%>"></script>
    <script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
    <script src="<%= asset_path "global.js"%>"></script>
	</body>
</html>