<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <style>
    body {
      height: 100%;
      margin: 0;
    }
    .content {
      flex: 1; /* Fills the remaining space between header and footer */
    }
    footer {
      padding: 1rem;
      text-align: center;
    }

    form {
      min-height: 65%;
      display: flex; /* Optionally use flexbox for better alignment */
      justify-content: center; /* Center content vertically */
      align-items: center; /* Center content horizontally */
    }
  </style>
</head>
<body>
  <%= render :partial => "/layout/profile_header" %>
  <div class="container-fluid">
    <!-- Header -->
    
    
    <!-- Flash Messages -->
    <%= content_tag :div, flash.now[:notice], class: "notice alert alert-info text-center" %>

    <!-- Form -->
    <div class="row justify-content-center align-items-center" style="min-height: 65vh;">
      <div class="col-12">
        <%= form_tag("/admin/create", method: "post", class: "needs-validation") do %>
        <div class="container">
          <div class="col-12 col-sm-4 col-md-4" style="text-align: center;">
            <%= label_tag(:job_name, "Enter Job Name:", class: "form-label") %>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
            <%= text_field_tag(:job_name, nil, class: "form-control", placeholder: "e.g., Fashion Designer") %>
            </div>
            <div class="col-12 col-sm-2 col-md-2">
            <%= submit_tag("Create", class: "btn btn-primary btn-block") %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <%= render 'shared/footer' %>
</body>

</html>