
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <%= form_tag("/admin/delete", method: "post") do %>  
    <%= select_tag :job_name, options_for_select(@jobs) %>
    <%= submit_tag("Delete") %>
  <% end %>


<div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>
<%= render :partial => "/layout/profile_javascripts" %>

