
  <%= content_tag :div, flash[:notice], class: "notice" %>

  <%= form_tag("/admin/edit", method: "post") do %>  
    <%= label_tag(:job_name, "Select the job you want to edit, then add or delete an attribute via the text box:") %>
    <%= select_tag :job_name, options_for_select(@jobs) %>
    <%= select_tag :attr_action, options_for_select(['Add', 'Remove']) %>
    <%= text_field_tag(:attr_name) %>
    <%= submit_tag("Edit") %>
  <% end %>


<div id="c">
    <%= render :partial => "/layout/footer" %>
  </div>
<%= render :partial => "/layout/profile_javascripts" %>

