<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  </head>
  <body>
    <%= render :partial => "/layout/profile_header" %>
  <%= content_tag :div, flash.now[:notice], class: "notice" %>

  <%= form_tag("/admin/edit", method: "post") do %>  
    <%= label_tag(:job_name, "Select the job you want to edit, then add or delete an attribute via the text box:") %>
    <%= select_tag :job_name, options_for_select(@jobs) %>
    <%= select_tag :attr_action, options_for_select(['Add', 'Remove']) %>
    <%= text_field_tag(:attr_name) %>
    <%= submit_tag("Edit") %>
  <% end %>

<%= render :partial => "/layout/profile_javascripts" %>
<%= render 'shared/footer' %>
</body>
</html>