<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
  <style>
    body {
      height: 100%;
      margin: 0;
    }
  </style>
</head>
<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<%= render :partial => "/layout/navigation" %>

<section id="adminPanel" class="container text-center" style="min-height: 65vh;">
  <div id="ADMINPANEL">
    <h1>
      <b>Job Management Page</b>
    </h1>
    
    <p><br></p>
    <a href="/admin/create" class="btn btn-info">Create Job</a>
    <p><br></p>
    <a href="/admin/edit" class="btn btn-info">Edit Job</a>
    <p><br></p>
    <a href="/admin/delete" class="btn btn-info">Delete Job</a>

    
  </div>
 </section>



<%= render :partial => "/layout/profile_javascripts" %>
<%= render 'shared/footer' %>
</body>
</html>