<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/390013241f.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		<link rel="stylesheet" href="<%= asset_path "notifications.css"%>">
		<link rel="stylesheet" href="<%= asset_path "collaborators.css"%>">
  <style>
    .container {
      padding-top: 50px;
    }
  </style>
</head>
<%= render :partial => "/layout/profile_header" %>
<body data-spy="scroll" data-offset="0" data-target="#nav">
<!-- THE HEADER -->
  <%= render 'shared/header' %>

<div class="container">
<section id="adminPanel" class="container text-center" style="min-height: 65vh;">
  <div id="ADMINPANEL">
    <h1 >
      <b>Job Management Page</b>
    </h1>
    
    <p><br></p>
    <a href="/admin/create" class="btn btn-info">Create Job</a>
    <p><br></p>
    <a href="/admin/edit" class="btn btn-info">Edit Job</a>
    <p><br></p>
    <a href="/admin/delete" class="btn btn-info">Delete Job</a>

    
  </div>
 </section>


</div>
<%= render :partial => "/layout/profile_javascripts" %>
<%= render 'shared/footer' %>
</body>
</html>