<!DOCTYPE html>
<html>
	<head>
		<title>FashioNXT</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href="<%= asset_path "favicon.jpg"%>">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="<%= asset_path "bootstrap.min.css"%>">
		<link rel="stylesheet" href="<%= asset_path "icon.css"%>">
		<link rel="stylesheet" href="<%= asset_path "loader.css"%>">
		<link rel="stylesheet" href="<%= asset_path "idangerous.swiper.css"%>">
		<link rel="stylesheet" href="<%= asset_path "jquery-ui.css"%>">
		<link rel="stylesheet" href="<%= asset_path "stylesheet.css"%>">
		
	</head>
	<body >

	<!-- THE LOADER -->

	<div class="be-loader">
    	<div class="spinner">
			<img id="spinner-img" src="<%= asset_path "logo.png"%>"  alt="">
			<p class="circle">
			  <span class="ouro">
			    <span class="left"><span class="anim"></span></span>
			    <span class="right"><span class="anim"></span></span>
			  </span>
			</p>
		</div>
    </div>
	<!-- THE HEADER -->
	<header>
		
		<div class="container-fluid custom-container">
			<div class="row no_row row-header">
				<div class="brand-be">
					<a href="/">
						<img class="logo-c active be_logo"  src="<%= asset_path "logo.png"%>" alt="logo">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo2">
						<img  class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo3">
						<img class="logo-c be_logo" src="<%= asset_path "logo.png"%>" alt="logo4">
					</a>
				</div>
				<div class="header-menu-block">
					<button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
					<ul class="header-menu" id="one">
						<!--<li><a href="activity.html">Activity</a></li>-->
						<li><a href="/search_profile/search">Search</a>
							<!--<ul>
								<li><a href="search.html">Explore</a></li>
								<li><a href="people.html">People</a></li>
								<li><a href="gallery.html">Galleries</a></li>
							</ul>-->
						</li>
						<% if session[:current_user_key] %>
							<li><a href="/show_profile">My Profile</a></li>
						<% end %>
						<!--<li><a href="site-map.html">Site Map</a></li>-->
						<!--<li><a href="organization.html">Organization</a></li>-->
						<!--<li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work.html">Add Work </a></li>-->
					</ul>
				</div>
				<div class="login-header-block">
					<div class="login_block">
						<% if session[:current_user_key] %>
						<%= link_to 'Log out', logout_path, method: :get, :class => "btn color-1 size-2 hover-2" %>
						<!--<a class="btn color-1 size-2 hover-2" href="/login_info/logout" ><i class="fa fa-user"></i>-->
						<!--Log out</a>-->
						<% else %>
						<%= link_to 'Log in', login_path, method: :post, :class => "btn btn-login color-1 size-2 hover-2" %>
						<!--<a class="btn btn-login color-1 size-2 hover-2" href="/application/login" ><i class="fa fa-user"></i>-->
						<!--Log in</a>-->
						<% end %>
					</div>	
				</div>
			</div>
		</div>
		
		
	</header>
		
	<!-- MAIN CONTENT -->
	
	<div id="content-block">
		<div class="head-bg">
			<div class="head-bg-img"></div>
			
			<div class="large-popup-fixed"></div>
			<% if flash[:notice] %>
			<div class="alert-container col-md-12">
				<div class="alert style-3 alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				    <strong><%= flash[:notice]%></strong> 
				</div>
			</div>
			<% elsif flash[:success] %>
			<div class="alert-container col-md-12">
				<div class="alert style-3 alert-dismissible">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				    <strong><%= flash[:success]%></strong> 
				</div>
			</div>
			<% end %>
			
			<div class="head-bg-content">
				<h1>Welcome to FashioNTWRK</h1>
				<p>Your #1 social network for connecting to people in the fashion industry. </p>
				<!--<a class="btn color-1 size-1 hover-1" ><i class="fa fa-facebook"></i>sign up via facebook</a>-->
				<% if not session[:current_user_key] %>
					<a class="be-register btn color-1 size-1 hover-6" href=""><i class="fa fa-lock"></i>sign up now</a>
				<% end %>
			</div>	
		</div>
		<!--<div class="container-fluid cd-main-content custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<form action="./" class="input-search">
						<input type="text" required="" placeholder="Enter keyword">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>				
				</div>			
				<div class="col-md-10 ">
					<div class="for-be-dropdowns">
						<div class="be-drop-down">
							<i class="icon-projects"></i>
							<span class="be-dropdown-content"> Projects	</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-1"><a data-type="category-1">Projects</a></li>
								<li class="filter" data-filter=".category-2"><a data-type="category-2">Work in Progress</a></li>
								<li class="filter" data-filter=".category-3"><a data-type="category-3">People</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-creative"></i>
							<span class="be-dropdown-content">All Creative Filds
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-4"><a>Item - 1</a></li>
								<li class="filter" data-filter=".category-5"><a>Item - 2</a></li>
								<li class="filter" data-filter=".category-1"><a>Item - 3</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-features"></i>
							<span class="be-dropdown-content">Features
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-2"><a>Featured</a></li>
								<li class="filter" data-filter=".category-3"><a>Most Appreciated</a></li>
								<li class="filter" data-filter=".category-4"><a>Most Viewed</a></li>
								<li class="filter" data-filter=".category-5"><a>Most Discussed</a></li>
								<li class="filter" data-filter=".category-1"><a>Most Recent</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-worldwide"></i>
							<span class="be-dropdown-content">Worldwide
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-2"><a>WorldWide</a></li>
								<li class="filter" data-filter=".category-3"><a>United States</a></li>
								<li class="filter" data-filter=".category-4"><a>Germany</a></li>
								<li class="filter" data-filter=".category-5"><a>United Kingdom</a></li>
							</ul>
						</div>
					</div>				
				</div>
			</div>
		</div>-->
		<div class="info-block style-3">
			<div class="be-large-post-align "><h3 class="info-block-label">Recent Activities</h3></div>
		</div>
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="container-mix"  class="row _post-container_">
						<% @users.each do |info| %>
							<div class="category-1 mix custom-column-5">
								<div class="be-post">
									<a href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>" class="be-img-block">
									<% if info.profile_picture? %>
									<img src="<%= info.profile_picture.url %>" alt="omg">
									<% else %>
									<img src="http://www.combonetwork.com/img/empty_profile.png">
									<% end %>
									</a>
									<a href="<%= show_profile_show_profile_path(:user_key => info.userKey) %>" class="be-post-title"><%= info.first_name %> <%= info.last_name %><br><%= info.attribute_values[:job_name] %><br><%=info.city + ", " + info.state%></a>
								</div>
							</div>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- THE FOOTER -->
	<footer>	
		<div class="footer-main">
			<div class="container-fluid custom-container">
				<div class="row">	
					<div class="col-md-3 col-xl-4">
						<div class="footer-block">
							<h1 class="footer-title">About Us</h1>
							<p>FashioNXT creates innovative fashion experiences and the creative edge in lifestyle technology.</p>
							<ul class="soc_buttons">
								<li><a href="https://www.facebook.com/FASHIONXtONLINE/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/fashionxtonline"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.pinterest.com/fashionxtonline/"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="https://www.instagram.com/fashionxtonline/"><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://www.linkedin.com/company/fashionxt/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xl-2">
						<div class="footer-block">
							<h1 class="footer-title">Some Links</h1>
							<div class="row footer-list-footer">
							<div class="col-md-6">
							<ul class="link-list">
								<li><a href="http://fashionxt.com/">About Us</a></li>
								<li><a href="contact-us.html">Help</a></li>
								<li><a href="contact-us.html">Contacts</a></li>
								<li><a href="activity.html">Job</a></li>
								<li><a href="activity.html">Projets</a></li>
							</ul></div>
							<!--<div class="col-md-6">-->
							<!--<ul class="link-list">-->
							<!--	<li><a href="activity.html">New Works</a></li>-->
							<!--	<li><a href="author.html">Popular Authors</a></li>-->
							<!--	<li><a href="author.html">New Authors</a></li>-->
							<!--	<li><a href="people.html">Career</a></li>-->
							<!--	<li><a href="faq">FAQ</a></li>-->
							<!--</ul>-->
							<!--</div>-->
							</div>
						</div>
					</div>	
					<!--<div class="col-md-3">-->
					<!--	<div class="footer-block">-->
					<!--		<h1 class="footer-title">Subscribe On Our News</h1>-->
					<!--		<form action="./" class="subscribe-form">-->
					<!--			<input type="text" placeholder="Yout Name" required>-->
					<!--			<div class="submit-block">-->
					<!--				<i class="fa fa-envelope-o"></i>-->
					<!--				<input type="submit" value="">-->
					<!--			</div>-->
					<!--		</form>-->
					<!--		<div class="soc-activity">-->
					<!--			<div class="soc_ico_triangle">-->
					<!--				<i class="fa fa-twitter"></i>-->
					<!--			</div>-->
					<!--			<div class="message-soc">-->
					<!--				<div class="date">16h ago</div>-->
					<!--				<a href="blog-detail-2.html" class="account">@faq</a> vestibulum accumsan est <a href="blog-detail-2.html" class="heshtag">blog-detail-2.htmlmalesuada</a> sem auctor, eu aliquet nisi ornare leo sit amet varius egestas.-->
					<!--			</div>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--</div>-->
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container-fluid custom-container">
				<div class="col-md-12 footer-end clearfix">
					<div class="left">
						<span class="copy">© 2018. All rights reserved. <span class="white"><a href="fashionxt.com"> FashioNXT</a></span></span>
						<span class="created">Created with LOVE by <span class="white"><a href=""> ThatSoftwareEngineeringGroup</a></span></span>
					</div>
					<!--<div class="right">-->
					<!--	<a class="btn color-7 size-2 hover-9">About Us</a>-->
					<!--	<a class="btn color-7 size-2 hover-9">Help</a>-->
					<!--	<a class="btn color-7 size-2 hover-9">Privacy Policy</a>-->
					<!--</div>-->
				</div>			
			</div>
		</div>		
	</footer>

	<div class="be-fixed-filter"></div>
	
	<%= form_for :login_info, :action => 'login_submit', :url => login_info_login_submit_path do |form| %>
	<div class="large-popup login">
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Log in</h5>
						</div>
						<form action="#" class="popup-input-search" method="post">
						<div class="col-md-6">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Your Email', :required => ''%>
							<!--<input class="input-signtype" type="email" required="" placeholder="Your email">-->
						</div>
						<div class="col-md-6 form-group">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Your Password', :required => '' %>
							<!--<input id= "password" class="input-signtype" type="password" required="" placeholder="Password">-->
						</div>
						<div class="col-xs-6"></div>
						<div class="col-xs-6 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<%= form_for :login_info, :action => 'create', :url => login_info_create_path do |form| %>
	<div class="large-popup register">
		<div class="large-popup-fixed"></div>
		<div class="container large-popup-container">
			<div class="row">
				<div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
					<div class="row">
						<div class="col-md-12">
							<i class="fa fa-times close-button"></i>
							<h5 class="large-popup-title">Register</h5>
						</div>
						<form action="./" class="popup-input-search" method="post">
						
						<div class="col-md-4">
							<%= form.text_field :email, :class => 'input-signtype', :id => 'email', :placeholder => 'Email', :required => ''%>
							<!--<input class="input-signtype" type="text" required="" placeholder="Email">-->
						</div>
						<div class="col-md-4">
							<%= form.password_field :password, :class => 'input-signtype', :id => 'password', :placeholder => 'Password', :required => '' %>
							<!--<input class="input-signtype" type="text" required="" placeholder="Password">-->
						</div>
						<div class="col-md-4">
							<p style="color:white;">(Should contain one uppercase, one lowercase, one special character, and one digit)</p>
						</div>
						<div class="col-md-8">
							<!--<input id="password_confirmation" class="input-signtype" type="text" required="" placeholder="Repeat Password">-->
                  			<%= form.password_field :password_confirmation, :class => 'input-signtype', :id => 'confirm', :placeholder => 'Repeat Password', :required => '' %>
						</div>
						<div class="col-md-4 for-signin">
							<%= form.submit "SIGN IN", :class => 'be-popup-sign-button', :type => 'submit' %>
							<!--<input type="submit" class="be-popup-sign-button" value="SIGN IN">-->
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<!-- SCRIPTS	 -->
	<script src="<%= asset_path "jquery.min.js"%>"></script>
	<script src="<%= asset_path "jquery-ui.js"%>"></script>
	<script src="<%= asset_path "bootstrap.min.js"%>"></script>		
	<script src="<%= asset_path "idangerous.swiper.min.js"%>"></script>
	<script src="<%= asset_path "jquery.mixitup.js"%>"></script>
	<script src="<%= asset_path "jquery.viewportchecker.min.js"%>"></script>
	<script src="<%= asset_path "global.js"%>"></script>
	</body>
</html>
