<%= render :partial => "/layout/header" %>
<body>
  <%= render :partial => "/layout/body" %>
  <div id="SPECIFICFORM">
    <h1>
      <b>MODEL PROFILE INFORMATION</b>
    </h1>
    <%= form_for @specific_model, :url => '/specific_model' do |f| %>
      <p></p>
      <%= f.label :height_feet %>
      <br/>
      <%= f.number_field :height_feet, :in => 0..12, :step => 1.0 %>
      <p></p>
      <%= f.label :height_inches %>
      <br/>
      <%= f.number_field :height_inches, :in => 0..11, :step => 0.25 %>
      <p></p>
      <%= f.label :bust %>
      <br/>
      <%= f.number_field :bust %>
      <p></p>
      <%= f.label :waist %>
      <br/>
      <%= f.number_field :waist %>
      <p></p>
      <%= f.label :hips %>
      <br/>
      <%= f.number_field :hips %>
      <p></p>
      <%= f.label :cups %>
      <br/>
      <%= f.select :cups, options_for_select([["AA", "AA"],["A","A"],["B","B"],["C","C"],["D","D"],["DD/E","DD/E"],["DDD/F","DDD/F"],["DDDD/G","DDDD/G"],["H","H"],["I","I"],["J","J"],["K","K"],["L","L"],["M","M"],["N","N"],["O","O"]]) %>
      <p></p>
      <%= f.label :shoe_size %>
      <br/>
      <%= f.select :shoe_size, options_for_select([["1", "1"],["1.5","1.5"],["2","2"],["2.5","2.5"],["3","3"],["3.5","3.5"],["4","4"],["4.5","4.5"],["5","5"],["5.5","5.5"],["6","6"],["6.5","6.5"],["7","7"],["7.5","7.5"],["8","8"],["8.5","8.5"],["9","9"],["9.5","9.5"],["10","10"],["10.5","10.5"],["11","11"],["11.5","11.5"],["12","12"],["12.5","12.5"],["13","13"],["13.5","13.5"],["14","14"],["14.5","14.5"],["15","15"]]) %>
      <p></p>
      <%= f.label :dress_size %>
      <br/>
      <%= f.number_field :dress_size %>
      <p></p>
      <%= f.label :hair_color %>
      <br/>
      <%= f.select :hair_color, options_for_select([["Red","Red"],["Auburn","Auburn"],["Platinum blonde","Platinum blonde"],["Light ash blonde","Light ash blonde"],["Golden blonde","Golden blonde"],["Light golden brown","Light golden brown"],["Light brown","Light brown"],["Medium  brown","Medium brown"],["Dark brown","Dark brown"],["Natural black","Natural black"],["Jet black","Jet black"]]) %>
      <p></p>
      <%= f.label :eye_color %>
      <br/>
      <%= f.select :eye_color, options_for_select([["Gray","Gray"],["Dark blue","Dark blue"],["Light blue","Light blue"],["Hazel","Hazel"],["Green","Green"],["Honey","Honey"],["Brown","Brown"]]) %>
      <p></p>
      <%= f.label :ethnicity %>
      <br/>
      <%= f.select :ethnicity, options_for_select([["Non-Hispanic","Non-Hispanic"],["Hispanic","Hispanic"]]) %>
      <p></p>
      <%= f.label :skin_color %>
      <br/>
      <%= f.select :skin_color, options_for_select([["Very light or white","Very light or white"],["Light","Light"],["Light intermediate","Light intermediate"],["Dark intermediate","Dark intermediate"],["Dark or brown","Dark or brown"],["Very dark or black","Very dark or black"]]) %>
      <p></p>
      <%= f.label :shoot_nudes %>
      <br/>
      <%= f.select :shoot_nudes, options_for_select([["No","No"],["Yes","Yes"],["Partial","Partial"]]) %>
      <p></p>
      <%= f.label :tattoos %>
      <br/>
      <%= f.select :tattoos, options_for_select([["No","No"],["Yes","Yes"]]) %>
      <p></p>
      <%= f.label :piercings %>
      <br/>
      <%= f.select :piercings, options_for_select([["No","No"],["Yes","Yes"]]) %>
      <p></p>
      <%= f.label :experience %>
      <br/>
      <%= f.select :experience, options_for_select([["0-2 years","0-2 years"],["3-6 years","3-6 years"],["7-10 years","7-10 years"],["11+ years","11+ years"]]) %>
      <p></p>
      <%= f.label "Genres (Select all that apply):" %>
      <br/>
      <%= f.label "Acting"  %>
      <%= f.check_box :allgenres, {:multiple => true}, "Acting", nil %>
      <%= f.label "Art" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Art", nil %>
      <%= f.label "Cosplay" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Cosplay", nil %>
      <%= f.label "Dance" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Dance", nil %>
      <%= f.label "Editorial" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Editorial", nil %>
      <%= f.label "Erotic" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Erotic", nil %>
      <%= f.label "Fashion" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Fashion", nil %>
      <br/>
      <%= f.label "Fetish" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Fetish", nil %>
      <%= f.label "Fitness" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Fitness", nil %>
      <%= f.label "Glamour" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Glamour", nil %>
      <%= f.label "Hair/Makeup" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Hair/Makeup", nil %>
      <%= f.label "Lifestyle" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Lifestyle", nil %>
      <%= f.label "Lingerie" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Lingerie", nil %>
      <br/>
      <%= f.label "Parts Modeling" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Parts Modeling", nil %>
      <%= f.label "Performance Artist" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Performance Artist", nil %>
      <%= f.label "Pinup" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Pinup", nil %>
      <%= f.label "Promotional Modeling" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Promotional Modeling", nil %>
      <%= f.label "Maternal" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Maternal", nil %>
      <br/>
      <%= f.label "Runway" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Runway", nil %>
      <%= f.label "Spokesperson/Host" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Spokesperson/Host", nil %>
      <%= f.label "Sports" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Sports", nil %>
      <%= f.label "Stunt" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Stunt", nil %>
      <%= f.label "Swimwear" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Swimwear", nil %>
      <%= f.label "Underwater" %>
      <%= f.check_box :allgenres, {:multiple => true}, "Underwater", nil %>
      <p class="button"></p>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</body>
